<template>
  <div>
    <TourDetails :item="currentTour" :cup-name="currentCupName"> </TourDetails>
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const route = useRoute();
const currentCupName = computed(() => route.params?.cupname);
const { mktt } = useMKTi18n();

const props = defineProps({
  currentTour: {
    type: Object,
    default: null,
  },
});
useHead({
  title:
    (mktt("tours", props.currentTour?.id) ||
      (props.currentTour?.n ? props.currentTour?.n : t("courses.page"))) +
    " - " +
    t("global.app"),
});
</script>
