<template>
  <div>
    <NuxtChild :currentTour="currentTour" />
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { mktt } = useMKTi18n();

const route = useRoute();
const dbContext = useDb();
const router = useRouter();

onMounted(() => {
  if (!route.params?.cupname) {
    router.push(
      "/tours/" +
        dbContext.slugify(props.currentTour?.n) +
        "/" +
        dbContext.slugify(props.currentTour?.c[0].n)
    );
  }
});
const props = defineProps({
  currentTour: {
    type: Object,
    default: null,
  },
});

useHead({
  title:
    (mktt("tours", props.currentTour?.id) ||
      (props.currentTour?.n ? props.currentTour?.n : t("courses.page"))) +
    " - " +
    t("global.app"),
});
</script>
