<template>
  <div class="text-center text-white text-xl p-0 pt-4 sm:p-5 sm:pr-2">
    <div class="mb-8">
      {{ $t("tours.select") }}
    </div>
    <div class="flex align-items-center justify-content-center mb-8">
      <div>
        {{ $t("tours.current_tour") }}
        <TourCard
          :tour="currentTour"
          class="m-0 sm:m-1 mt-4"
          @select="goToTour(currentTour)"
        />
      </div>
      <div>
        {{ $t("tours.next_tour") }}
        <TourCard
          :tour="nextTour"
          class="m-0 sm:m-1 mt-4"
          @select="goToTour(nextTour)"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import moment from "moment/min/moment-with-locales.js";
import { useI18n } from "vue-i18n";
const { db, getTourSlug, nbTours, slugify } = useDb();
const { t, locale, locales } = useI18n();

useHead({
  title: t("tours.page") + " - " + t("global.app"),
});

const curtourId = computed(() => {
  const debutEvenement = moment("2022-10-04T22:00:00.000Z");
  const idEvt = 80;

  const dateActuelle = moment();
  const joursEcoules = dateActuelle.diff(debutEvenement, "days");
  const saisonsEcoulees = Math.floor(joursEcoules / 14);
  const saisonActuelle = saisonsEcoulees % 26;

  let id = idEvt + saisonActuelle;
  return id;
});

const nexttourId = computed(() => {
  return curtourId.value == 105 ? 80 : curtourId.value + 1;
});

const currentTour = computed(() => {
  return db.cups.list.find((c) => c.id === curtourId.value);
});
const nextTour = computed(() => {
  return db.cups.list.find((c) => c.id === nexttourId.value);
});

const router = useRouter();
const goToTour = (c) => {
  router.push("/tours/" + getTourSlug(c));
};
</script>
