<template>
  <div class="info-card">
    <div class="flex align-items-center mb-4">
      <FilterList
        v-for="(f, i) in filters"
        :config="f"
        v-model="filterValue[i]"
        class="filteritem mr-4"
      />
    </div>
    <table class="usage-table" v-if="loaded">
      <thead>
        <tr>
          <td rowspan="2"></td>
          <td colspan="4">{{ $t("global.level") }}</td>
          <td rowspan="2" class="total">{{ $t("global.total") }}</td>
          <td rowspan="2" class="utility">{{ $t("global.utility") }}</td>
          <td rowspan="2">{{ $t("global.courses") }}</td>
        </tr>
        <tr>
          <td class="level-1">1</td>
          <td class="level-3">3</td>
          <td class="level-6">6</td>
          <td class="level-8">8</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(it, i) in filteredItems" :class="{ even: i % 2 === 0 }">
          <td>
            <ItemCard
              :type="props.type"
              :item="it"
              small
              class="m-1"
              style="width: 75px"
            />
          </td>
          <td class="level-1">
            {{ (displayRanked ? it.usage_ranked[1] : it.usage[1]) || 0 }}
          </td>
          <td class="level-3">
            {{ (displayRanked ? it.usage_ranked[3] : it.usage[3]) || 0 }}
          </td>
          <td class="level-6">
            {{ (displayRanked ? it.usage_ranked[6] : it.usage[6]) || 0 }}
          </td>
          <td class="level-8">
            {{ (displayRanked ? it.usage_ranked[8] : it.usage[8]) || 0 }}
          </td>
          <td class="total">
            {{ (displayRanked ? it.usage_ranked.total : it.usage.total) || 0 }}
          </td>
          <td class="utility">
            <ItemUtilityTableForTour
              :type="props.type"
              :item="it"
              :tour="tour"
              :display-ranked="displayRanked"
            />
          </td>
          <td style="width: 100%">
            <div class="flex flex-wrap align-items-center px-1">
              <template v-for="c of it.courses" :key="c.course.id">
                <div
                  :class="{
                    'w-full flex align-items-center': displayConcurrency[it.id],
                  }"
                  v-if="!displayRanked || c.cup.rk != null"
                >
                  <div>
                    <CourseCard
                      :type="props.type"
                      :course="c.course"
                      :collect="collection.courses[c.course.id]"
                      :fromLevel="c.fromLevel"
                      class="m-0 sm:m-1"
                      small
                      style="width: 120px; flex: 0 0 120px"
                    >
                      <template #before-top-left v-if="c.cup.rk > 0">
                        <span
                          class="text-xs pr-1"
                          v-tooltip.bottom="
                            $t('global.rankedcup', { nb: c.cup.rk })
                          "
                        >
                          <img
                            :style="{
                              width: '14px',
                              height: '14px',
                              display: 'inline-block',
                              'vertical-align': 'middle',
                            }"
                            v-lazy="'/IconAllCupRanking00.png'"
                          />
                          <span
                            style="padding-left: 1px; vertical-align: middle"
                          >
                            {{ c.cup.rk }}
                          </span>
                        </span>
                      </template>
                    </CourseCard>
                  </div>
                  <div
                    class="mt-2 mr-2"
                    style="
                      max-width: calc(100vw - 910px);
                      overflow: auto;
                      overflow-y: hidden;
                    "
                    v-if="
                      c.course.items &&
                      c.course.items.length > 0 &&
                      displayConcurrency[it.id]
                    "
                  >
                    <div
                      :style="{
                        'overflow-x': auto,
                        'overflow-y': hidden,
                        'max-width': '100%',
                      }"
                      class="p-0"
                    >
                      <div
                        class="flex"
                        :style="`width: calc(80px * ${c.course.items.length})`"
                      >
                        <ItemCard
                          v-for="d of c.course.items"
                          :key="d.id"
                          :type="type"
                          :item="d"
                          small
                          class="m-1"
                          style="width: 75px"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </template>
              <div>
                <Button
                  class="p-button-sm px-2 py-1 m-1"
                  @click="
                    displayConcurrency[it.id] = !displayConcurrency[it.id]
                  "
                  v-tooltip="
                    $itt(
                      type,
                      displayRanked
                        ? 'concurrency_ranked_desc'
                        : 'concurrency_desc'
                    )
                  "
                >
                  {{ $t("global.concurrency") }}
                </Button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-4 text-center">
      <Button
        v-if="displayRanked ? min_nbtotal_ranked > 1 : min_nbtotal > 1"
        @click="displayRanked ? min_nbtotal_ranked-- : min_nbtotal--"
      >
        {{ $t("global.loadmore") }}
      </Button>
    </div>
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
import { sortItems } from "../helpers/ItemsHelper";
import { nextTick } from "vue";

const { t, locale, locales } = useI18n();

const dbContext = useDb();
const { collection } = useCollection();
const props = defineProps({
  tour: Object,
  type: String,
});

const displayConcurrency = ref([]);

const min_nbtotal = ref(6);
const min_nbtotal_ranked = ref(2);

const filters = ref([
  {
    label: t("global.ranked"),
    list: [
      { label: t("global.filterranked.acr"), value: 1 },
      { label: t("global.filterranked.ranked"), value: 2 },
    ],
    multiple: false,
    noReset: true,
    filter: () => true,
  },
  {
    label: t("global.filtercollect"),
    list: [
      { label: t("global.filtercollectoptions.own"), value: 1 },
      { label: t("global.filtercollectoptions.dontown"), value: 2 },
    ],
    multiple: false,
    filter: (value, d) => {
      return value?.value
        ? value.value === 1
          ? d.collect?.l
          : !d.collect?.l
        : true;
    },
  },
]);

const filterValue = ref([{ label: t("global.filterranked.acr"), value: 1 }]);
watch(
  () => filterValue.value[0],
  (n) => {
    localStorage["kamekbook_mostused_filter"] = n.value;
  }
);

const route = useRoute();
const loaded = ref(false);
onMounted(() => {
  // load sort
  if (localStorage["kamekbook_mostused_filter"]) {
    // from localStorage
    let val = filters.value[0].list.find(
      (l) => l.value == localStorage["kamekbook_mostused_filter"]
    );
    if (val) {
      filterValue.value = [val];
    }
  } else {
    // from url
    let mostused_filter = route.query.rk;
    if (mostused_filter) {
      filterValue.value = [
        { label: t("global.filterranked.ranked"), value: 2 },
      ];
    }
  }
  nextTick(() => {
    loaded.value = true;
  });
});

const displayRanked = computed(() => {
  return filterValue.value[0].value === 2;
});

const propsItems = [
  {
    prop: "drivers",
    byid: "driversById",
    dbKey: "d",
    itemGetter: dbContext.getDriverById,
  },
  {
    prop: "karts",
    byid: "kartsById",
    dbKey: "k",
    itemGetter: dbContext.getKartById,
  },
  {
    prop: "gliders",
    byid: "glidersById",
    dbKey: "g",
    itemGetter: dbContext.getGliderById,
  },
];

const cups = computed(() => {
  return props.tour?.c;
});

const allItems = computed(() => {
  let res = [];
  for (let cidx = 0; cidx < cups.value.length; cidx++) {
    let cup = cups.value[cidx];
    for (let ccidx = 0; ccidx < cup.c.length; ccidx++) {
      let courseId = cup.c[ccidx];
      let course = dbContext.getCourseById(courseId),
        courseCol = collection.courses[course.id];
      let def = propsItems.find((pp) => pp.prop === props.type);

      // get uped items
      const currentRups = props.tour?.up?.filter(
        (upp) =>
          upp.ref === cidx ||
          (ccidx === 0 && upp.ref === "f") ||
          (ccidx === 1 && upp.ref === "s") ||
          (ccidx === 2 && upp.ref === "t")
      );
      const currentRup = currentRups.flatMap((rup) => rup[def.dbKey]);

      let allds = course.p[def.dbKey];
      allds = allds.map((itemId) => {
        return {
          ...def.itemGetter(itemId),
          collect:
            courseCol &&
            courseCol[def.dbKey]?.list?.find(
              (subitem) => subitem.id === itemId
            ),
        };
      });
      // add secondadry drivers with condition
      course.p2[def.dbKey]?.forEach((itemId) => {
        let realId = itemId;
        if (Array.isArray(itemId)) {
          allds.push({
            ...def.itemGetter(itemId[0]),
            collect:
              courseCol &&
              courseCol[def.dbKey]?.list?.find(
                (subitem) => subitem.id === itemId[0]
              ),
            fromLevel: itemId[1],
          });
          realId = itemId[0];
        }
        // add uped items with condition
        // only for cups up items because now no new items are uped for first / second / third course. -> YES THERE IS (Miis for first courses) -> Fix it -> DONE
        // for old tours, some items may be missing
        if (currentRup.includes(realId)) {
          //console.log("Uped item", realId);
          allds.push({
            ...def.itemGetter(realId),
            collect: collection[def.byid] && collection[def.byid][realId],
          });
        }
      });

      // find doubled entries in rup
      let seen = [],
        doubles = [];
      currentRup.forEach((id) => {
        if (seen.includes(id)) doubles.push(id);
        else seen.push(id);
      });
      if (doubles.length > 0) {
        // items have been promoted from no pref
        doubles.forEach((itemId) => {
          allds.push({
            ...def.itemGetter(itemId),
            collect: collection[def.byid] && collection[def.byid][itemId],
          });
        });
      }

      allds = allds.filter((ds) => ds.id != null);
      allds.sort(sortItems(collection));
      for (let d of allds) {
        let lvl = d.fromLevel || 1;
        let found = res.find((r) => r.id === d.id);
        if (found) {
          found.usage.total++;
          found.courses.push({
            course: { ...course, items: allds, fromLevel: d.fromLevel },
            cup,
          });
          if (found.usage[lvl]) {
            found.usage[lvl]++;
          } else {
            found.usage[lvl] = 1;
          }
          if (cup.rk != null) {
            found.usage_ranked.total++;
            if (found.usage_ranked[lvl]) {
              found.usage_ranked[lvl]++;
            } else {
              found.usage_ranked[lvl] = 1;
            }
          }
        } else {
          res.push({
            ...d,
            usage: {
              [lvl]: 1,
              total: 1,
            },
            usage_ranked: {
              [lvl]: cup.rk != null ? 1 : 0,
              total: cup.rk != null ? 1 : 0,
            },
            fromLevel: undefined,
            courses: [
              {
                course: { ...course, items: allds, fromLevel: d.fromLevel },
                cup,
              },
            ],
          });
        }
      }
    }
  }
  res.sort((a, b) =>
    displayRanked.value
      ? b.usage_ranked.total - a.usage_ranked.total
      : b.usage.total - a.usage.total
  );
  return res;
});
const filteredItems = computed(() => {
  if (Array.isArray(allItems.value)) {
    return (
      allItems.value
        ?.filter((d) => {
          let filtered = true,
            hasFilter = false;
          for (let i = 0; i < filters.value.length; i++) {
            if (filterValue.value[i]) {
              hasFilter = true;
              filtered =
                filtered &&
                filters.value[i].filter(
                  Array.isArray(filterValue.value[i])
                    ? filterValue.value[i].filter(Boolean).map((el) => el.value)
                    : filterValue.value[i],
                  d
                );
            }
          }
          return !hasFilter || filtered;
        })
        .filter((d) =>
          displayRanked.value
            ? d.usage_ranked.total >= min_nbtotal_ranked.value
            : d.usage.total >= min_nbtotal.value
        ) || []
    );
  } else {
    return [];
  }
});
</script>
<style scoped>
.usage-table {
  border-collapse: collapse;
  width: 100%;
}
.usage-table thead td {
  font-weight: 700;
  text-align: center;
}
.usage-table td {
  padding: 2px 2px;
}
.usage-table tr.even td {
  background-color: var(--background);
}
.usage-table tr.even td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.usage-table tr.even td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.usage-table thead .level-1 {
  border-top-left-radius: 5px;
}
.usage-table thead .total {
  border-top-left-radius: 5px;
}
.usage-table thead .utility {
  border-top-right-radius: 5px;
}
.usage-table .level-1,
.usage-table .level-3,
.usage-table .level-6,
.usage-table .level-8,
.usage-table .total {
  text-align: center;
  padding: 2px 15px;
}
.usage-table thead .level-1,
.usage-table thead .level-3,
.usage-table thead .level-6,
.usage-table thead .level-8 {
  padding: 10px 15px;
}
.usage-table .total {
  font-weight: 700;
}
.usage-table .level-1 {
  background-color: #6b9639;
}
.usage-table .level-3 {
  background-color: #4a832c;
}
.usage-table .level-6 {
  background-color: #23641e;
}
.usage-table .level-8 {
  background-color: #11402d;
}
.usage-table .total {
  background-color: #15265d;
}
.usage-table .utility {
  background-color: #15445d;
}
.usage-table tr.even td.level-1 {
  background-color: #4a832c;
}
.usage-table tr.even td.level-3 {
  background-color: #23641e;
}
.usage-table tr.even td.level-6 {
  background-color: #11402d;
}
.usage-table tr.even td.level-8 {
  background-color: #0b2a1d;
}
.usage-table tr.even td.total {
  background-color: #111e4b;
}
.usage-table tr.even .utility {
  background-color: #12394e;
}
</style>
