<template>
  <div class="info-card">
    {{ score }}
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
import { useCalcul } from "~~/composables/useCalcul";

const { calculate } = useCalcul();

const props = defineProps({
  course: Object,
  driver: Object,
  kart: Object,
  glider: Object,
});

const score = computed(() => {
  return calculate(props.course?.id, props.driver, props.kart, props.glider);
});
</script>
