<template>
  <div class="mkt-c-card relative" @click="selectItem">
    <img class="mkt-course" v-lazy="courseImage" />
    <div class="mkt-name absolute left-0">
      {{ courseName }}
    </div>
    <div
      class="absolute top-0 mt-1 left-0 ml-1 flex flex-wrap align-items-center"
    >
      <slot name="before-top-left"></slot>
      <span
        v-if="course.city"
        v-tooltip.bottom="$t('courses.city')"
        class="pi pi-building mkt-missing city"
      >
      </span>
      <span
        v-if="noDrivers"
        class="mkt-missing"
        v-tooltip.bottom="$t('courses.nodrivers')"
      >
        <img v-lazy="'/MenuDriver00.png'" />
      </span>
      <span
        v-if="noKarts"
        class="mkt-missing"
        v-tooltip.bottom="$t('courses.nokarts')"
      >
        <img v-lazy="'/MenuMachine00.png'" />
      </span>
      <span
        v-if="noGliders"
        class="mkt-missing"
        v-tooltip.bottom="$t('courses.nogliders')"
      >
        <img v-lazy="'/MenuGlide00.png'" />
      </span>
    </div>
    <div
      v-if="course.fromLevel"
      class="absolute bottom-0 right-0 mr-1"
      :class="{ 'mb-1': !small, 'mb-0': small }"
    >
      <span
        class="mkt-level"
        :class="{ 'text-xl': !small, 'text-basic': small }"
        v-tooltip.bottom="
          $itt(props.type, 'course.fromlevel', { level: course.fromLevel })
        "
        >{{ course.fromLevel }}</span
      >
    </div>
    <div
      class="mkt-sortvalue absolute top-0 right-0 mr-1 mt-1 border-round p-1 opacity-90 text-blue-900"
      v-if="props.course.sortValue != null"
      v-tooltip="additionalValueLabel"
      :class="{
        'bg-orange-300': props.course.sortValue == 0,
        'bg-blue-300': props.course.sortValue > 0,
      }"
    >
      {{ props.course.sortValue }}
    </div>
    <OverlayPanel ref="links" appendTo="body" style="width: 270px">
      <div class="text-center">
        <div class="mb-2">
          {{ courseName }}
        </div>
        <Button
          class="m-1 p-button-sm w-full text-center inline-block"
          @click="goToPage"
        >
          <span class="pi pi-link"></span>
          {{ $t("courses.goToPage") }}
        </Button>
      </div>
    </OverlayPanel>
  </div>
</template>
<script setup>
import { computed } from "vue";
import { useMKTi18n } from "~~/composables/useMKTi18n";
const { mktt } = useMKTi18n();
const { getCourseSlug } = useDb();

const props = defineProps({
  type: {
    type: String,
    default: null,
  },
  course: {
    type: Object,
    default: null,
  },
  additionalValueLabel: {
    type: String,
    default: null,
  },
  collect: {
    type: Object,
    default: null,
  },
  small: {
    type: Boolean,
  },
  noOverlay: Boolean,
});

const links = ref();
const toggleLinks = (event) => {
  links.value.toggle(event);
};

const courseImage = computed(() => {
  return "/preferred/list/cover/" + props.course?.id + ".webp";
});

const courseName = computed(() => {
  return (
    mktt("courses", props.course?.id) ||
    [
      props.course.c,
      props.course.n,
      props.course.t === "N" ? null : props.course.t,
    ]
      .filter(Boolean)
      .join(" ")
  );
});
const emit = defineEmits(["select"]);
const selectItem = () => {
  console.log(props.course?.id);
  emit("select", props.course);
  if (!props.noOverlay) {
    toggleLinks(event);
  }
};
const router = useRouter();
const goToPage = () => {
  router.push("/courses/" + getCourseSlug(props.course));
};
const noDrivers = computed(() => {
  return props.collect?.nbDrivers == 0;
});
const noKarts = computed(() => {
  return props.collect?.nbKarts == 0;
});
const noGliders = computed(() => {
  return props.collect?.nbGliders == 0;
});
</script>
<style scoped>
.mkt-c-card {
  /*filter: grayscale(75%);*/
  cursor: pointer;
  transition: all 0.25s;
}
.mkt-c-card:hover {
  transform: scale(1.025);
}
.mkt-course {
  vertical-align: middle;
}
.mkt-name {
  width: 100%;
  text-align: center;
  background-color: var(--mkt-ground);
  color: white;
  padding: 10px 5px;
  opacity: 0%;
  transition: all 0.25s;
  top: 50%;
  transform: translateY(-50%);
}
.mkt-c-card:hover .mkt-name {
  opacity: 80%;
}

.mkt-missing {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}
.mkt-missing img {
  max-width: 20px;
  max-height: 20px;
}
.mkt-missing.city {
  background-color: rgb(22, 79, 56);
}
</style>
