<template>
  <div class="relative">
    <div
      class="fixed flex bg-blue-800 z-5 w-full p-2 align-items-center justify-content-center"
      style="
        width: 711px;
        max-width: calc(min(100%, max(30vw, 450px)));
        padding-right: 20px !important;
      "
    >
      <Button
        icon="pi pi-filter"
        class="p-button-rounded"
        @click="toggleFilters"
        v-tooltip="$t('courses.filter')"
      ></Button>
      <div class="flex-grow-1 text-center text-lg text-white">
        {{
          $t("courses.nb", {
            nb: filteredCourses.length,
            nbv: filteredCourses.reduce((acc, v) => acc + v.courses.length, 0),
          })
        }}
      </div>
      <Button
        icon="pi pi-sort-amount-down"
        class="p-button-rounded"
        @click="toggleSortMenu"
        v-tooltip="$t('courses.sort')"
      ></Button>
    </div>
    <TieredMenu
      ref="sortmenu"
      :model="sortOptions"
      :popup="true"
      :baseZIndex="100"
      class="sortmenu"
      style="min-width: 300px"
    />
    <OverlayPanel ref="filtermenu" appendTo="body" style="width: 300px">
      <div>
        <FilterList
          v-for="(f, i) in filters"
          :config="f"
          v-model="filterValue[i]"
          class="filteritem"
        />
      </div>
    </OverlayPanel>
    <div class="p-0 pt-7 sm:p-2 sm:pt-7">
      <template v-for="(c, i) of filteredCourses" :key="i">
        <h4 class="text-white mb-2 px-4">
          {{ c.label }}
        </h4>
        <div
          class="flex flex-wrap align-items-center justify-content-center px-1 sm:px-4"
        >
          <template v-for="course of c.courses" :key="course.id">
            <CourseCard
              :course="course"
              class="m-0 sm:m-1"
              @select="goToCourse(course)"
              v-styleclass="itemStyleClass"
              :additionalValueLabel="sortLabel"
              :collect="collection.courses[course.id]"
              no-overlay
            />
          </template>
        </div>
      </template>
    </div>
  </div>
</template>
<script setup>
import { ref, onMounted, computed, onUnmounted } from "vue";
import { useI18n } from "vue-i18n";
import { useMKTi18n } from "~~/composables/useMKTi18n";
const { t, locale, locales } = useI18n();
const { db, getCourseSlug, nbTours, slugify } = useDb();
const { collection } = useCollection();
const { $itt } = useNuxtApp();
const { mktt } = useMKTi18n();

const props = defineProps({
  curItem: {
    type: Object,
    default: null,
  },
});

const goToCourse = (c) => {
  router.push("/courses/" + getCourseSlug(c));
};
const courses = computed(() => {
  let lst = [];
  db.stats_courses.forEach((c) => {
    let same = lst.find((cc) => cc.n === c.n && cc.c === c.c);
    if (!same) {
      lst.push({ c: c.c, n: c.n, courses: [c] });
    } else {
      same.courses.push(c);
    }
  });
  return lst;
});

const windowSize = ref(window.innerWidth);

onMounted(() => {
  // load sort
  if (localStorage["kamekbook_c_sort"]) {
    // from localStorage
    for (let m of sortOptions.value) {
      if (
        m.id &&
        m.id == localStorage["kamekbook_c_sort"] &&
        typeof m.command === "function"
      ) {
        m.command();
        break;
      }
      if (m.items) {
        for (let it of m.items) {
          if (
            it.id &&
            it.id == localStorage["kamekbook_c_sort"] &&
            typeof it.command === "function"
          ) {
            it.command();
            break;
          }
        }
      }
    }
  } else {
    // from url
    let sort_url = route.query.s;
    if (sort_url) {
      for (let m of sortOptions.value) {
        if (m.id && m.id == sort_url && typeof m.command === "function") {
          m.command();
          break;
        }
        if (m.items) {
          for (let it of m.items) {
            if (
              it.id &&
              it.id == sort_url &&
              typeof it.command === "function"
            ) {
              it.command();
              break;
            }
          }
        }
      }
    }
  }
  window.addEventListener("resize", () => {
    windowSize.value = window.innerWidth;
  });
});
onUnmounted(() => {
  window.removeEventListener("resize", () => {
    windowSize.value = window.innerWidth;
  });
});

const itemStyleClass = computed(() => {
  return windowSize.value <= 990
    ? {
        selector: "#menulist",
        leaveToClass: "hidden",
        leaveActiveClass: "fadeoutleft",
      }
    : { selector: "#menulist" };
});

const sortFunc = ref();
const sortLabel = ref();
const sortAsc = ref(false);
const sortedItems = computed(() => {
  if (sortFunc.value) {
    let resds = courses.value.map((c) => {
      let coursesvalues = c.courses.map((cc) => ({
        ...cc,
        sortValue: sortFunc.value(cc),
      }));
      coursesvalues.sort(
        (a, b) => (sortAsc.value ? -1 : 1) * (b.sortValue - a.sortValue)
      );
      return {
        ...c,
        courses: coursesvalues,
        sortValue: sortAsc.value
          ? Math.min(...coursesvalues.map((c) => c.sortValue))
          : Math.max(...coursesvalues.map((c) => c.sortValue)),
      };
    });
    resds.sort(
      (a, b) => (sortAsc.value ? -1 : 1) * (b.sortValue - a.sortValue)
    );
    return resds;
  } else {
    return courses.value;
  }
});

const route = useRoute();

const sortItems = (id, fcsort, sortlbl, asc = false) => {
  router.push(route.path + (id ? "?s=" + id : ""));
  if (id) {
    localStorage["kamekbook_c_sort"] = id;
  } else {
    localStorage.removeItem("kamekbook_c_sort");
  }
  sortFunc.value = fcsort;
  sortLabel.value = sortlbl;
  sortAsc.value = asc;
};
const sortmenu = ref();
const toggleSortMenu = (event) => {
  sortmenu.value.toggle(event);
};
const sortOptions = computed(() => {
  let res = [
    {
      label: t("courses.sortoptions.favorite.header"),
      items: [
        {
          id: "nb_drivers",
          label: t("courses.sortoptions.favorite.drivers"),
          command: () =>
            sortItems(
              "nb_drivers",
              (c) => {
                return collection.courses[c.id].nbDrivers;
              },
              t("courses.sortoptions.favorite.drivers")
            ),
        },
        {
          id: "nb_karts",
          label: t("courses.sortoptions.favorite.karts"),
          command: () =>
            sortItems(
              "nb_karts",
              (c) => collection.courses[c.id].nbKarts,
              t("courses.sortoptions.favorite.karts")
            ),
        },
        {
          id: "nb_gliders",
          label: t("courses.sortoptions.favorite.gliders"),
          command: () =>
            sortItems(
              "nb_gliders",
              (c) => collection.courses[c.id].nbGliders,
              t("courses.sortoptions.favorite.gliders")
            ),
        },
      ],
    },
    {
      label: t("courses.sortoptions.toptier.header"),
      items: [
        {
          id: "toptier",
          label: t("courses.sortoptions.toptier.total"),
          command: () =>
            sortItems(
              "toptier",
              (c) => c.nbTimes,
              t("courses.sortoptions.toptier.totaldesc")
            ),
        },
        {
          id: "ranked",
          label: t("courses.sortoptions.toptier.ranked"),
          command: () =>
            sortItems(
              "ranked",
              (c) => c.nbRanked,
              t("courses.sortoptions.toptier.rankeddesc")
            ),
        },
      ],
    },
    {
      label: t("courses.sortoptions.lastyear.header"),
      items: [
        {
          id: "toptier_ly",
          label: t("courses.sortoptions.lastyear.total"),
          command: () =>
            sortItems(
              "toptier_ly",
              (c) => c.nbTimesLastYear,
              t("courses.sortoptions.lastyear.totaldesc")
            ),
        },
        {
          id: "ranked_ly",
          label: t("courses.sortoptions.lastyear.ranked"),
          command: () =>
            sortItems(
              "ranked_ly",
              (c) => c.nbRankedLastYear,
              t("courses.sortoptions.lastyear.rankeddesc")
            ),
        },
      ],
    },
    {
      label: t("courses.sortoptions.recent.header"),
      items: [
        {
          id: "recent",
          label: t("courses.sortoptions.recent.mostrecent"),
          command: () =>
            sortItems(
              "recent",
              (c) => {
                let cups = c.cupsnb;
                return nbTours - Object.keys(cups)[0];
              },
              t("courses.sortoptions.recent.mostrecentdesc"),
              true
            ),
        },
      ],
    },
  ];
  if (sortFunc.value) {
    return reactive([
      {
        id: null,
        label: $itt(props.type, "sortoptions.default"),
        command: () => sortItems(null, null, null),
      },
      ...res,
    ]);
  } else {
    return reactive([...res]);
  }
});

const router = useRouter();
const selectItem = (item) => {
  router.push("/" + props.type + "/" + dbContext.getItemSlug(props.type, item));
};

const courseLocalizedNames = computed(() => {
  let res = {};
  db.preferred.list.forEach((c) => {
    res[c.id] = mktt("courses", c.id);
    if (!res[c.id]) {
      //console.log("No translation for", d.id);
      res[c.id] = "";
    } else {
      res[c.id] = res[c.id].toLowerCase();
    }
  });
  return res;
});

const filters = [
  {
    label: t("courses.filters.name"),
    type: "input",
    filter: (name, d) => {
      if (name && name.trim() !== "") {
        return (
          courseLocalizedNames.value[d.id].indexOf(name.toLowerCase()) >= 0
        );
      } else {
        return true;
      }
    },
  },
  {
    label: t("global.filterunique.header"),
    desc: t("global.filterunique.desc"),
    list: [
      { label: t("global.filterunique.unique"), value: 1 },
      { label: t("global.filterunique.notunique"), value: 2 },
    ],
    multiple: false,
    filter: (value, c) => {
      return value?.value ? (value.value === 1 ? c.unique : !c.unique) : true;
    },
  },
  {
    label: t("global.filtermissing.header"),
    list: [
      { value: "drivers", image: "/MenuDriver00.png" },
      { value: "karts", image: "/MenuMachine00.png" },
      { value: "gliders", image: "/MenuGlide00.png" },
    ],
    multiple: true,
    filter: (list, c) => {
      if (list.length == 0) {
        return true;
      }
      let collect = collection.courses[c.id];
      return (
        (list.includes("drivers") && collect.nbDrivers == 0) ||
        (list.includes("gliders") && collect.nbGliders == 0) ||
        (list.includes("karts") && collect.nbKarts == 0)
      );
    },
    imageSize: 24,
  },
];
const filterValue = ref([]);
const filtermenu = ref();
const toggleFilters = (event) => {
  filtermenu.value.toggle(event);
};
const filteredCourses = computed(() => {
  if (Array.isArray(sortedItems.value)) {
    return sortedItems.value
      ?.map((cm) => {
        return {
          ...cm,
          courses:
            cm.courses.filter((c) => {
              let filtered = true,
                hasFilter = false;
              for (let i = 0; i < filters.length; i++) {
                if (filterValue.value[i]) {
                  hasFilter = true;
                  filtered =
                    filtered &&
                    filters[i].filter(
                      Array.isArray(filterValue.value[i])
                        ? filterValue.value[i]
                            .filter(Boolean)
                            .map((el) => el.value)
                        : filterValue.value[i],
                      c
                    );
                }
              }
              return !hasFilter || filtered;
            }) || [],
        };
      })
      .filter((cm) => cm.courses.length > 0)
      .map((cm) => {
        return {
          ...cm,
          label: mktt(
            "courses",
            (cm.courses.find((c) => c.t === "N") || cm.courses[0]).id
          ),
        };
      });
  } else {
    return [];
  }
});
</script>
<style>
.sortmenu {
  min-width: 300px !important;
}
</style>
