<template>
  <div class="p-0 xl:p-4 xl:pt-0">
    <div
      class="info-card first flex flex-wrap align-items-center justify-content-center"
    >
      <div
        :style="{
          width: '170px',
          height: '170px',
          'border-radius': '5px',
        }"
        class="bg-gray-500 relative"
      >
        <img
          v-lazy="itemImage"
          class="absolute"
          :style="{
            'max-width': '150px',
            'max-height': '150px',
            'vertical-align': 'middle',
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
          }"
        />
      </div>
      <div class="p-0 xl:p-5 text-white">
        <div class="text-3xl">
          {{ i18nName }}
        </div>
        <div class="text-sm mb-2">
          <Markdown
            :source="
              $t('courses.details.dates', {
                firstTour: mktt('tours', firstTour?.id) || firstTour?.n,
                dateFrom,
                nbToursSince: nbTours - firstTour?.id,
              })
            "
          />
        </div>
        <div class="text-sm mb-2">
          <div class="mb-2">
            <Markdown
              :source="
                $t('courses.details.nbocc', {
                  nb: nbUsages,
                })
              "
            />
          </div>
        </div>
      </div>
    </div>
    <div class="info-card p-0">
      <div class="text-xl mb-1 p-4 pb-2">{{ $t("courses.details.cups") }}</div>
      <Chart
        class="p-1 pb-4 xl:px-4"
        type="bar"
        :data="courseData"
        v-if="courseData"
        :options="chartopts"
        :style="{ height: '250px' }"
      />
    </div>
    <div class="info-card p-0">
      <div class="text-xl mb-1 p-4 pb-2">
        <Markdown :source="$t('courses.details.preferred', courseCol)" />
      </div>
      <div
        v-if="itemObjects.drivers"
        style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
        class="p-1 sm:p-2"
      >
        <div
          class="flex"
          :style="`width: calc(102px * ${itemObjects.drivers.length})`"
        >
          <template v-for="d of itemObjects.drivers" :key="d.id">
            <ItemCard
              type="drivers"
              :item="d"
              :small="true"
              class="m-1"
              style="width: 100px"
            />
          </template>
        </div>
      </div>
      <div
        v-if="itemObjects.karts"
        style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
        class="p-1 sm:p-2"
      >
        <div
          class="flex"
          :style="`width: calc(102px * ${itemObjects.karts.length})`"
        >
          <template v-for="k of itemObjects.karts" :key="k.id">
            <ItemCard
              type="karts"
              :item="k"
              :small="true"
              class="m-1"
              style="width: 100px"
            />
          </template>
        </div>
      </div>
      <div
        v-if="itemObjects.gliders"
        style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
        class="p-1 sm:p-2"
      >
        <div
          class="flex"
          :style="`width: calc(102px * ${itemObjects.gliders.length})`"
        >
          <template v-for="g of itemObjects.gliders" :key="g.id">
            <ItemCard
              type="gliders"
              :item="g"
              :small="true"
              class="m-1"
              style="width: 100px"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive } from "vue";
import moment from "moment/min/moment-with-locales.js";
import { useI18n } from "vue-i18n";
import { sortItems } from "../helpers/ItemsHelper";
import { useMKTi18n } from "~~/composables/useMKTi18n";
const { mktt } = useMKTi18n();

const { t, locale, locales } = useI18n();

const { db, getTour, nbTours, getDriverById, getKartById, getGliderById } =
  useDb();
const { collection } = useCollection();

const props = defineProps({
  item: {
    type: Object,
    default: null,
  },
});

const i18nName = computed(() => {
  return (
    mktt("courses", props.item?.id) ||
    (props.item.c ? props.item.c + " - " : "") +
      props.item.n +
      " - " +
      props.item.t
  );
});

const courseCol = computed(
  () => props.item && collection.courses[props.item?.id]
);

const propsItems = [
  { prop: "drivers", dbKey: "d", itemGetter: getDriverById },
  { prop: "karts", dbKey: "k", itemGetter: getKartById },
  { prop: "gliders", dbKey: "g", itemGetter: getGliderById },
];
const itemObjects = reactive({});
for (let def of propsItems) {
  itemObjects[def.prop] = computed(() => {
    let allds = props.item.p[def.dbKey];
    allds = allds.map((itemId) => {
      return {
        ...def.itemGetter(itemId),
        collect:
          courseCol.value &&
          courseCol.value[def.dbKey]?.list?.find(
            (subitem) => subitem.id === itemId
          ),
      };
    });
    // add secondadry drivers with condition
    props.item.p2[def.dbKey]?.forEach((itemId) => {
      if (Array.isArray(itemId)) {
        allds.push({
          ...def.itemGetter(itemId[0]),
          collect:
            courseCol.value &&
            courseCol.value[def.dbKey]?.list?.find(
              (subitem) => subitem.id === itemId[0]
            ),
          fromLevel: itemId[1],
        });
      }
    });
    allds = allds.filter(Boolean);
    allds.sort(sortItems(collection));
    return allds;
  });
}

const itemImage = computed(() => {
  return "/preferred/list/cover/" + props.item?.id + ".webp";
});

const dateFrom = computed(() => {
  moment.locale(locale.value);
  return moment(firstTour.value?.dt).format("LL");
});

const firstTour = computed(() => {
  let cups = props.item?.cupsnb;
  return getTour(Object.keys(cups)[0]);
});

const nbUsages = computed(() => {
  return props.item?.nbTotal;
});
/*
const itemstats = computed(() => {
  return props.item?.total_stats;
});*/

const courseData = computed(() => {
  let lst = props.item?.cupsnb;
  if (lst) {
    return {
      labels: db.cups.list.map((c) => mktt("tours", c.id) || c.n),
      datasets: [
        {
          label: t("courses.details.stats.w1"),
          backgroundColor: "#FFCA28",
          data: db.cups.list.map((c) => lst[c.id]?.w1 || 0),
          tension: 0.4,
        },
        {
          label: t("courses.details.stats.w2"),
          backgroundColor: "#FFAB00",
          data: db.cups.list.map((c) => lst[c.id]?.w2 || 0),
          tension: 0.4,
        },
        {
          label: t("courses.details.stats.others"),
          backgroundColor: "#0091EA",
          data: db.cups.list.map((c) => lst[c.id]?.others || 0),
          tension: 0.4,
        },
      ],
    };
  }
});
const chartopts = ref({
  maintainAspectRatio: false,
  plugins: {
    legend: {
      labels: {
        color: "#ffffff",
      },
    },
  },
  scales: {
    x: {
      stacked: true,
      ticks: {
        color: "#ffffff",
      },
      grid: {
        color: "#999999",
      },
    },
    y: {
      stacked: true,
      ticks: {
        color: "#ffffff",
        precision: 0,
      },
      grid: {
        color: "#999999",
      },
    },
  },
});
</script>
<style scoped>
.info-card {
  background-color: var(--gray-500);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  border-radius: 5px;
}
.info-card.first {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ul-stats {
  list-style: none;
  padding-left: 0;
}
table.stats {
  margin: 0;
  border-spacing: 0;
}
table.stats td,
table.stats th {
  padding: 5px 10px;
}
table.stats tr.even td {
  background: var(--gray-600);
}
table.stats tr .total {
  background: var(--yellow-400);
  color: var(--yellow-900);
}
table.stats tr.even td.total {
  background: var(--yellow-600);
  color: var(--yellow-900);
}
</style>
