<template>
  <div class="mb-4">
    <div class="mb-2 flex">
      <div>
        {{ props.config.label }}
      </div>
      <div class="flex-grow-1"></div>
      <Button
        class="p-button-sm px-2"
        @click="reset"
        v-if="
          (props.modelValue != null || props.modelValue?.length > 0) &&
          !props.config.noReset
        "
      >
        {{ $t("global.reset") }}
      </Button>
    </div>
    <div v-if="props.config.desc" class="text-sm mb-2">
      {{ props.config.desc }}
    </div>
    <input
      v-if="config.type === 'input'"
      :value="modelValue"
      @input="updateText"
    />
    <SelectButton
      v-else
      :model-value="modelValue"
      @update:modelValue="update"
      :options="config.list"
      :multiple="config.multiple"
    >
      <template #option="slotProps">
        <div class="m-0 p-0">
          <img
            v-if="slotProps.option.image"
            :alt="slotProps.option.label"
            v-lazy="slotProps.option.image"
            :style="{ height: props.config.imageSize + 'px' }"
            v-tooltip="slotProps.option.label"
          />
          <div v-else>{{ slotProps.option.label }}</div>
        </div>
      </template>
    </SelectButton>
  </div>
</template>
<script setup>
const props = defineProps({
  modelValue: {
    type: Object,
    default: null,
  },
  config: {
    type: Object, // label, list [name, image, value], filter function, multiple
    default: () => {},
  },
});

const emit = defineEmits(["update:modelValue"]);
const update = (v) => {
  emit("update:modelValue", v);
};
const updateText = (event) => {
  emit("update:modelValue", event.target.value);
};
const reset = () => {
  emit("update:modelValue", null);
};
</script>

<style>
.filteritem .p-button {
  padding: 4px 10px;
}
</style>
