<template>
  <div class="flex flex-wrap" style="gap: 1rem">
    <div class="flex-grow-1">
      <div class="mb-2">
        {{ $itt(props.type, "grades.general") }}
      </div>

      <table class="stats-grades">
        <tbody>
          <tr
            :class="i % 2 === 0 ? 'even' : 'odd'"
            v-for="(cat, i) of generalGrades"
          >
            <td :class="{ [getStyle(cat)]: true, total: cat.total }">
              {{ $itt(props.type, "grades." + cat.name) }}
              <i
                class="pi pi-info text-xs border-circle bg-indigo-300 p-1"
                v-tooltip.bottom="
                  $itt(props.type, 'grades.' + cat.name + '_desc')
                "
              ></i>
            </td>
            <td class="text-right" :class="{ total: cat.total }">
              <span
                class="mkt-grade text-lg"
                :class="{ [getStyle(cat)]: true }"
              >
                {{ getGradeDisplay(cat) }}
              </span>
              <span
                class="mkt-grade text-sm ml-2 weight"
                v-if="!cat.total && !cat.bonus"
                v-tooltip="$itt(props.type, 'grades_weight')"
              >
                x{{ getParamValue(cat) }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-grow-1">
      <div class="mb-2">
        {{ $itt(props.type, "grades_collection.title") }}
      </div>

      <table class="stats-grades">
        <tbody>
          <tr
            :class="i % 2 === 0 ? 'even' : 'odd'"
            v-for="(cat, i) of collectionGrades"
          >
            <td :class="{ [getStyle(cat, false)]: true, total: cat.total }">
              {{ $itt(props.type, "grades_collection." + cat.name) }}
              <i
                class="pi pi-info text-xs border-circle bg-indigo-300 p-1"
                v-tooltip.bottom="
                  $itt(props.type, 'grades_collection.' + cat.name + '_desc')
                "
              ></i>
            </td>
            <td class="text-right" :class="{ total: cat.total }">
              <span
                class="mkt-grade text-lg"
                :class="{ [getStyle(cat, false)]: true }"
              >
                {{ getGradeDisplay(cat, false) }}
              </span>
              <span
                class="mkt-grade text-sm ml-2 weight"
                v-if="!cat.total"
                v-tooltip="
                  cat.bonus
                    ? $itt(props.type, 'grades_bonus')
                    : $itt(props.type, 'grades_weight')
                "
              >
                <span v-if="cat.bonus">/&nbsp;</span>
                <span v-else>x</span>
                {{ getParamValue(cat, false) }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script setup>
import { generalGrades, collectionGrades } from "~~/helpers/GradesHelper";

const { collection } = useCollection();
const { params } = useParams();

const props = defineProps({
  item: Object,
  type: String,
});

const typeById = {
  drivers: "driversById",
  karts: "kartsById",
  gliders: "glidersById",
};
const byid = computed(() => {
  return typeById[props.type];
});
const colGrades = computed(() => {
  return (
    (collection.grades[byid.value][props.item?.id] &&
      collection.grades[byid.value][props.item?.id].grades) ||
    {}
  );
});
const getGrade = (cat, general = true) => {
  let res = 0;
  if (cat.getter) {
    res = cat.getter(props.item);
  }
  if (general) {
    res = props.item.grades?.value && props.item.grades.value[cat.name];
  } else {
    res = colGrades?.value && colGrades.value[cat.name];
  }
  return res;
};
const getParamValue = (cat, general = true) => {
  if (general) {
    return params.grades.general[cat.name] || 0;
  } else {
    return params.grades.collection[cat.name] || 0;
  }
};
const getGradeDisplay = (cat, general = true) => {
  let res = getGrade(cat, general);
  if (cat.bonus) {
    res = "+" + Math.floor((getParamValue(cat, general) * res) / 100);
  }
  return res;
};
const getStyle = (cat, general = true) => {
  let grade = getGrade(cat, general);
  if (cat.bonus) return grade > 0 ? "plus" : "disabled";
  return grade >= 75 ? "plus" : grade >= 50 ? "average" : "minus";
};
</script>
<style scoped></style>
