<template>
  <div>
    <div class="mkt-level utility text-lg text-center py-1">
      {{ utility.nbUtile }}&nbsp;/&nbsp;{{
        props.displayRanked
          ? props.item.usage_ranked.total
          : props.item.usage.total
      }}
    </div>
    <table
      class="stats m-auto text-sm"
      v-if="displayFullTable || utility.nbUtile == 0"
    >
      <thead>
        <tr>
          <th>
            {{ $itt(props.type, "collection.improvements.level") }}
          </th>
          <th>
            {{ $itt(props.type, "collection.improvements.points") }}
          </th>
          <th>
            {{ $itt(props.type, "collection.improvements.utility") }}
          </th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(t, i) of tops">
          <tr :class="{ even: t.even }" v-if="displayFullTable || i === 0">
            <td v-if="t.level" :rowspan="t.rowspan">
              <span class="mkt-level text-base">{{ t.level }}</span>
              <i
                class="pi pi-info text-xs border-circle bg-indigo-300 p-1 ml-1"
                v-tooltip.bottom="$t('global.level_min')"
                v-if="utility.nbUtile == 0 && i === 0"
              ></i>
            </td>
            <td>
              <span class="mkt-points text-base">
                {{ t.points }}
              </span>
            </td>
            <td>
              <span class="mkt-level utility text-lg">+{{ t.nbadd }}</span>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div
      class="text-center"
      v-if="(utility.nbUtile > 0 && tops.length > 0) || tops.length > 1"
    >
      <Button
        class="p-button-sm px-2 py-1 m-1"
        @click="displayFullTable = !displayFullTable"
      >
        {{ $t("global.viewfulltable") }}
      </Button>
    </div>
  </div>
</template>
<script setup>
const { collection, capsTable } = useCollection();

const props = defineProps({
  type: String,
  item: Object,
  tour: Object /* if null -> global utility */,
  displayRanked: Boolean,
});

const displayFullTable = ref(false);

const typeById = {
  drivers: "driversById",
  karts: "kartsById",
  gliders: "glidersById",
};

const pData = [
  {
    dbKey: "d",
    localKey: "drivers",
    localKeyById: "driversById",
    nbStat: "nbDrivers",
  },
  {
    dbKey: "g",
    localKey: "gliders",
    localKeyById: "glidersById",
    nbStat: "nbGliders",
  },
  {
    dbKey: "k",
    localKey: "karts",
    localKeyById: "kartsById",
    nbStat: "nbKarts",
  },
];

const byid = computed(() => {
  return typeById[props.type];
});

const collect = computed(() => {
  return collection[byid.value] && collection[byid.value][props.item.id];
});

const utility = computed(() => {
  if (!props.item) return {};
  if (props.tour == null) {
    return (
      (collection.utility[byid.value] &&
        collection.utility[byid.value][props.item.id]) || {
        nbUtile: 0,
        nbNonUniqueUtile: 0,
        tops: [],
      }
    );
  }
  let def = pData.find((pd) => pd.localKey === props.type);
  let nbUtile = 0,
    nbNonUniqueUtile = 0,
    tops = [];
  props.item.courses
    ?.filter((c) => (props.displayRanked ? Boolean(c.cup.rk != null) : true))
    .forEach(({ course: c }) => {
      let topitemslist = collection.courses[c.id][def.dbKey]?.top;
      let isUtile = topitemslist.includes(props.item.id);
      //console.log(def.dbKey, c.id, topitemslist, isUtile, item.id);
      nbUtile += isUtile ? 1 : 0;
      nbNonUniqueUtile += !collection.courses[c.id].unique && isUtile ? 1 : 0;
      if (!isUtile) {
        let fd = { l: 1, p: 0, c: 0 };
        if (topitemslist.length > 0) {
          fd = collection[def.localKeyById][topitemslist[0]];
        }
        tops.push({
          //c: c.n,
          //items: topitemslist,
          level: Math.max(c.fromLevel || 0, fd.l || 0),
          points: fd.p,
        });
      }
    });
  tops.sort((a, b) => {
    return b.level === a.level ? a.points - b.points : a.level - b.level;
  });
  let itemcollec = collection[def.localKeyById][props.item.id];
  let topbyLevel = {},
    currentcumul = 0; // {lvl, points: [{points, nbAdd}]}
  tops.forEach((t, idxt) => {
    let p = 0;
    if (!itemcollec || itemcollec.p < t.points) {
      p = t.points;
    }
    // check if required points exceed max points possible for item's rarity
    let caps = capsTable[def.localKey];
    let lastcapthreshold = caps[caps.length - 1].thresholds;
    let forRarity = lastcapthreshold.find((th) => th.r === props.item.r);
    if (p > forRarity.max) {
      p = 0;
      t.level++;
    }
    if (!topbyLevel[t.level]) {
      topbyLevel[t.level] = {
        level: t.level,
        points: {},
        cumullevel: currentcumul,
      };
    }
    if (!topbyLevel[t.level].points[p]) {
      topbyLevel[t.level].points[p] = { points: p, nbadd: 1 };
    } else {
      topbyLevel[t.level].points[p].nbadd++;
    }
    topbyLevel[t.level].cumullevel++;
    currentcumul++;
  });

  return {
    nbUtile,
    nbNonUniqueUtile,
    tops: Object.keys(topbyLevel).map((k) => {
      return {
        ...topbyLevel[k],
        points: Object.keys(topbyLevel[k].points).map((kp) => {
          return topbyLevel[k].points[kp];
        }),
      };
    }),
  };
});

/** Prepare tops for being displayed in html table with rowspan */
const tops = computed(() => {
  if (!props.item) return [];
  let lines =
    utility.value?.tops?.flatMap((t, j) =>
      t.points.map((tp, i) => ({
        ...tp,
        points: tp.points == 0 ? "-" : tp.points,
        even: j % 2 === 0,
        level:
          i === 0
            ? t.level === props.item.collect?.l
              ? "-"
              : t.level
            : undefined,
        rowspan: i === 0 ? t.points.length : undefined,
      }))
    ) || [];
  let cur = 0;
  lines.forEach((l) => {
    let oadd = l.nbadd;
    l.nbadd += cur;
    cur += oadd;
  });
  return lines;
});
</script>
<style scoped>
table.stats {
  margin: 0;
  border-spacing: 0;
}
table.stats td,
table.stats th {
  padding: 5px 10px;
  font-weight: 200;
}
table.stats tr.even td {
  background-color: #103143;
}
</style>
