<template>
  <div class="p-0 xl:p-4 xl:pt-0">
    <div
      class="info-card first flex flex-wrap align-items-center justify-content-center"
    >
      <div
        :style="{
          width: '170px',
          height: '170px',
          'border-radius': '5px',
        }"
        class="bg-gray-500 relative"
      >
        <img
          v-lazy="itemImage"
          class="absolute"
          :style="{
            'max-width': '150px',
            'max-height': '150px',
            'vertical-align': 'middle',
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
          }"
        />
      </div>
      <div class="p-0 xl:p-5 text-white">
        <div class="flex align-items-center w-full">
          <div class="flex-grow-1">
            <div class="text-3xl">
              {{ i18nName }}
            </div>
            <!--<slot name="objectitem" v-bind:item="props.item"></slot>-->
            <div class="text-normal flex align-items-center mt-1">
              <img
                v-lazy="
                  props.objectsPath +
                  item[props.objectsProperty] +
                  '.' +
                  props.objectsExtension
                "
                width="40"
                class="mr-2"
              />
              {{ objectName }}
            </div>
          </div>
          <div class="text-right mkt-rank text-2xl ml-4">
            {{ currentRank
            }}<span style="vertical-align: super" class="text-base">{{
              currentRankExp
            }}</span>
          </div>
          <div
            v-tooltip="$itt(type, 'direction.up')"
            v-if="rankDirection === 'up'"
          >
            <IconUp
              class="text-5xl ml-2 border-circle p-1 text-white bg-green-500"
            />
          </div>
          <div
            v-tooltip="$itt(type, 'direction.stable')"
            v-if="rankDirection === 'stable'"
          >
            <IconStable
              class="text-5xl ml-2 border-circle p-1 text-white bg-gray-300"
            />
          </div>
          <div
            v-tooltip="$itt(type, 'direction.down')"
            v-if="rankDirection === 'down'"
          >
            <IconDown
              class="text-5xl ml-2 border-circle p-1 text-white bg-orange-500"
            />
          </div>
        </div>
        <div class="text-sm mb-2">
          <Markdown
            :source="
              $itt(props.type, 'details.dates', {
                firstTour: mktt('tours', firstTour?.id) || firstTour?.n,
                dateFrom,
                nbToursSince: nbTours - props.item?.t,
              })
            "
          />
        </div>
        <div class="text-sm mb-2">
          <div class="mb-2">
            <Markdown
              :source="
                $itt(props.type, 'details.nbfav', {
                  nbfav: courses?.preferred?.length,
                  nbfavunique: courses?.preferred?.filter((c) => c.unique)
                    .length,
                })
              "
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="info-card flex flex-wrap align-items-center justify-content-center"
    >
      <div
        class="info-card noback flex flex-wrap align-items-center justify-content-center text-sm"
      >
        <div>
          <div class="mb-2">{{ $itt(props.type, "details.tabledesc") }}</div>
          <table class="stats">
            <thead>
              <tr>
                <th></th>
                <th class="total">
                  {{ $itt(props.type, "details.alltime") }}
                </th>
                <th>{{ $itt(props.type, "details.lastyear") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="even">
                <td>{{ $itt(props.type, "details.toptier") }}</td>
                <td class="total text-right">
                  {{ itemstats.totalcourses }}
                </td>
                <td class="text-right">{{ itemstats.lastyeartotal }}</td>
              </tr>
              <tr class="odd">
                <td>{{ $itt(props.type, "details.ranked") }}</td>
                <td class="total text-right">
                  {{ itemstats.totalclassified }}
                </td>
                <td class="text-right">
                  {{ itemstats.lastyearclassified }}
                </td>
              </tr>
              <tr class="even">
                <td>
                  {{ $itt(props.type, "details.unique") }}
                  <i
                    class="pi pi-info text-xs border-circle bg-indigo-300 p-1"
                    v-tooltip.bottom="$itt(props.type, 'details.uniquedesc')"
                  ></i>
                </td>
                <td class="total text-right">
                  {{ itemstats.totalunique }}
                </td>
                <td class="text-right">
                  {{ itemstats.lastyeartotalunique }}
                </td>
              </tr>
            </tbody>
          </table>
          <Grades :item="item" :type="type" class="mt-4" />
        </div>
      </div>
      <div class="md:flex-grow-1"></div>
      <div class="pt-4" style="max-width: 250px">
        <Button
          class="p-button-sm"
          @click="updateItem({ type: props.type, id: item.id })"
          v-if="!item.collect"
          v-tooltip="$t('global.tip_collection')"
        >
          {{ $itt(props.type, "details.addcollection") }}
        </Button>
        <template v-else>
          <div class="mb-2">{{ $itt(props.type, "details.owned") }}</div>
          <ItemPoints
            :type="props.type"
            :collect="item.collect"
            class="mb-2"
            labels
          />
          <div
            class="mb-2 text-sm"
            v-tooltip="$itt(props.type, 'collection.pointsperactiondesc')"
          >
            {{ $itt(props.type, "collection.pointsperaction") }}
            {{
              Number(bonusPoints(collection, props.item?.collect).toFixed(1))
            }}
          </div>
          <Button
            class="p-button-sm mb-4"
            @click="removeItem({ type: props.type, id: item.id })"
          >
            {{ $itt(props.type, "details.removecollection") }}
          </Button>
          <div
            class="mb-2 text-sm"
            v-tooltip="$itt(props.type, 'collection.utility_desc')"
          >
            {{ $itt(props.type, "collection.utility") }}
            {{ utility?.nbUtile }}
          </div>
          <div
            class="mb-2 text-sm"
            v-tooltip="$itt(props.type, 'collection.nonuniqueutility_desc')"
          >
            {{ $itt(props.type, "collection.nonuniqueutility") }}
            {{ utility?.nbNonUniqueUtile }}
          </div>
        </template>
        <div class="info-card mt-2">
          <span class="mb-2">
            {{ $itt(props.type, "collection.improve") }}
            <i
              class="pi pi-info text-xs border-circle bg-indigo-300 p-1"
              v-tooltip.bottom="
                $itt(props.type, 'collection.improvements.tooltip')
              "
            ></i>
          </span>
          <table class="stats m-auto text-sm">
            <thead>
              <tr>
                <th>
                  {{ $itt(props.type, "collection.improvements.level") }}
                </th>
                <th>
                  {{ $itt(props.type, "collection.improvements.points") }}
                </th>
                <th>
                  {{ $itt(props.type, "collection.improvements.utility") }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr :class="{ even: t.even }" v-for="(t, i) of tops">
                <td v-if="t.level" :rowspan="t.rowspan">
                  <span class="mkt-level text-base">{{ t.level }}</span>
                </td>
                <td>
                  <span class="mkt-points text-base">
                    {{ t.points }}
                  </span>
                </td>
                <td>
                  <span class="mkt-level utility text-lg">+{{ t.nbadd }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-if="wanted.nbCovered > 0" class="mt-4">
          <div
            class="mb-2 text-sm"
            v-tooltip="$itt(props.type, 'collection.wanted_desc')"
          >
            {{ $itt(props.type, "collection.wanted") }}
            {{ wanted?.nbCovered }}
          </div>
          <div
            class="mb-2 text-sm"
            v-tooltip="$itt(props.type, 'collection.nonuniquewanted_desc')"
          >
            {{ $itt(props.type, "collection.nonuniquewanted") }}
            {{ wanted?.nbNonUniqueCovered }}
          </div>
        </div>
        <div v-else-if="!item.collect" class="mt-4">
          <div class="mb-2 text-sm">
            {{ $itt(props.type, "collection.notwanted") }}
          </div>
        </div>
      </div>
    </div>
    <Accordion
      class="accordion-custom"
      :activeIndex="wanted.nbCovered > 0 ? [2, 3] : [1, 2]"
      :multiple="true"
      lazy
    >
      <AccordionTab>
        <template #header>
          <Markdown
            :source="
              item.collect
                ? $itt(props.type, 'details.utility', {
                    nb: utility?.nbUtile,
                    nonunique: utility?.nbNonUniqueUtile,
                  })
                : $itt(props.type, 'details.preferred', {
                    nb: courses?.preferred?.length,
                  })
            "
          />
        </template>
        <div class="p-2 w-full">
          <div
            v-for="(c, i) of preferredByUtility"
            :key="c.id"
            class="flex align-items-center justify-content-center"
            :class="{ 'bg-blue-300': i % 2 === 1 }"
          >
            <div style="width: 150px; flex: 0 0 150px">
              <CourseCard
                :type="props.type"
                :course="c"
                :collect="collection.courses[c.id]"
                class="m-0 sm:m-1"
              />
            </div>
            <div class="flex-grow-1" style="overflow: hidden">
              <div
                style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
              >
                <div
                  class="flex"
                  :style="`width: calc(82px * ${itemObjects[c.id].length})`"
                >
                  <template v-for="it of itemObjects[c.id]" :key="it.id">
                    <ItemCard
                      :type="type"
                      :item="it"
                      :small="true"
                      class="m-1"
                      style="width: 80px"
                    />
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </AccordionTab>
      <AccordionTab v-if="wanted.nbCovered > 0">
        <template #header>
          <Markdown
            :source="
              $itt(props.type, 'details.wanted', {
                nb: wanted?.nbCovered,
                nonunique: wanted?.nbNonUniqueCovered,
              })
            "
          />
        </template>
        <div class="p-2 w-full">
          <div
            v-for="(c, i) of preferredByWanted"
            :key="c.id"
            class="flex align-items-center justify-content-center"
            :class="{ 'bg-blue-300': i % 2 === 1 }"
          >
            <div style="width: 150px; flex: 0 0 150px">
              <CourseCard
                :type="props.type"
                :course="c"
                :collect="collection.courses[c.id]"
                class="m-0 sm:m-1"
              />
            </div>
            <div class="flex-grow-1" style="overflow: hidden">
              <div
                style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
              >
                <div
                  class="flex"
                  :style="`width: calc(82px * ${itemObjects[c.id].length})`"
                >
                  <template v-for="it of itemObjects[c.id]" :key="it.id">
                    <ItemCard
                      :type="type"
                      :item="it"
                      :small="true"
                      class="m-1"
                      style="width: 80px"
                    />
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </AccordionTab>
      <AccordionTab>
        <template #header>
          <Markdown :source="$itt(props.type, 'grades_history.title')" />
          <div class="ml-2">
            <i
              class="pi pi-info text-xs border-circle bg-indigo-300 p-1"
              v-tooltip.bottom="$itt(props.type, 'grades_history.desc')"
            ></i>
          </div>
        </template>
        <Chart
          class="p-1 pb-4 xl:px-4"
          type="line"
          :data="gradeHistoricData"
          v-if="gradeHistoricData && loaded"
          :options="chartoptsgrades"
          :style="{ height: '250px' }"
        />
      </AccordionTab>
      <AccordionTab>
        <template #header>
          <Markdown :source="$itt(props.type, 'newt3.title')" />
        </template>
        <Chart
          class="p-1 pb-4 xl:px-4"
          type="bar"
          :data="t3Data"
          v-if="t3Data"
          :options="chartopts"
          :style="{ height: '250px' }"
        />
      </AccordionTab>
    </Accordion>
    <div class="info-card p-0">
      <div class="text-xl mb-1 p-4 pb-2">
        {{ $itt(props.type, "details.cups") }}
      </div>
      <Chart
        class="p-1 pb-4 xl:px-4"
        type="bar"
        :data="cupsData"
        v-if="cupsData"
        :options="chartopts"
        :style="{ height: '400px' }"
      />
    </div>
    <div class="info-card p-0">
      <div class="text-xl mb-1 p-4 pb-2">
        <Markdown
          :source="
            $itt(props.type, 'details.preferred', {
              nb: courses?.preferred?.length,
            })
          "
        />
      </div>
      <div
        class="flex flex-wrap align-items-center justify-content-center px-1 sm:px-4"
      >
        <CourseCard
          v-for="c of courses?.preferred"
          :type="props.type"
          :course="c"
          :key="c.id"
          :collect="collection.courses[c.id]"
          class="m-0 sm:m-1"
        />
      </div>
      <div class="text-xl mb-1 p-4 pb-2">
        <Markdown
          :source="
            $itt(props.type, 'details.second_preferred', {
              nb: courses?.second_preferred?.length,
            })
          "
        />
      </div>
      <div
        class="flex flex-wrap align-items-center justify-content-center px-1 sm:px-4"
      >
        <CourseCard
          v-for="c of courses?.second_preferred"
          :type="props.type"
          :course="c"
          :key="c.id"
          :collect="collection.courses[c.id]"
          class="m-0 sm:m-1"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed } from "vue";
import moment from "moment/min/moment-with-locales.js";
import { sortItems } from "../helpers/ItemsHelper";
import { useMKTi18n } from "~~/composables/useMKTi18n";
import { useI18n } from "vue-i18n";
import { bonusPoints } from "../helpers/ItemsHelper";
const { t, locale, locales } = useI18n();
const { $itt } = useNuxtApp();

const { getTour, nbTours, getDriverById, getKartById, getGliderById } = useDb();
const { collection, updateItem, removeItem } = useCollection();

const { grades } = useGrades();

const loaded = ref(false);
onMounted(() => {
  setTimeout(() => (loaded.value = true), 150);
});

const props = defineProps({
  type: {
    type: String,
    default: null,
  },
  item: {
    type: Object,
    default: null,
  },
  objectsPath: {
    type: String,
    default: null,
  },
  objectsProperty: {
    type: String,
    default: null,
  },
  objectsExtension: {
    type: String,
    default: "webp",
  },
});

const { mktt } = useMKTi18n();

const i18nName = computed(() => {
  return mktt(props.type, props.item?.id) || props.item?.n;
});

const objectName = computed(() => {
  return mktt(props.type + "_skills", props.item.s);
});

const typeById = {
  drivers: "driversById",
  karts: "kartsById",
  gliders: "glidersById",
};
const byid = computed(() => {
  return typeById[props.type];
});
const itemImage = computed(() => {
  return "/" + props.type + "/list/cover/" + props.item?.id + ".webp";
});
const courses = computed(() => {
  return props.item?.preferred_courses;
});
const preferredByUtility = computed(() => {
  let cs = [...courses.value?.preferred];
  cs.sort((a, b) => {
    let itemsa = itemObjects.value && itemObjects.value[a.id],
      itemsb = itemObjects.value && itemObjects.value[b.id];
    let idxa = itemsa.findIndex((it) => it.id === props.item?.id),
      idxb = itemsb.findIndex((it) => it.id === props.item?.id);
    return idxa - idxb;
  });
  return cs;
});
const preferredByWanted = computed(() => {
  let cs = [
    ...((collection.wanted[byid.value] &&
      collection.wanted[byid.value][props.item?.id]?.courses) ||
      []),
  ];
  cs.sort((a, b) => {
    let itemsa = itemObjects.value && itemObjects.value[a.id],
      itemsb = itemObjects.value && itemObjects.value[b.id];
    let idxa = itemsa.findIndex((it) => it.id === props.item?.id),
      idxb = itemsb.findIndex((it) => it.id === props.item?.id);
    return idxa - idxb;
  });
  return cs;
});
const dateFrom = computed(() => {
  moment.locale(locale.value);
  return moment(props.item?.dt).format("LL");
});
const firstTour = computed(() => {
  return getTour(props.item?.t);
});

const cupstats = computed(() => {
  return props.item?.cups_stats;
});

const itemstats = computed(() => {
  return props.item?.total_stats;
});

const currentRank = computed(() => {
  let gradesdata = grades[props.type][props.item.id];
  return gradesdata.p[gradesdata.p.length - 1];
});
const rankDirection = computed(() => {
  let gradesdata = grades[props.type][props.item.id];
  let current = gradesdata.p[gradesdata.p.length - 1];
  if (gradesdata.p.length > 1) {
    let prev = gradesdata.p[gradesdata.p.length - 2];
    if (prev > current) {
      // go up
      return "up";
    } else if (prev === current) {
      // stable
      return "stable";
    } else {
      // go down
      return "down";
    }
  } else {
    // new one -> go up  !
    return "up";
  }
});
const currentRankExp = computed(() => {
  if (locale.value === "fr") {
    let rk = currentRank.value;
    const pr = new Intl.PluralRules("fr-FR", { type: "ordinal" });

    const suffixes = new Map([
      ["one", "er"],
      ["other", "ème"],
    ]);
    const rule = pr.select(rk);
    const suffix = suffixes.get(rule);
    return suffix;
  } else {
    let rk = currentRank.value;
    const pr = new Intl.PluralRules("en-US", { type: "ordinal" });

    const suffixes = new Map([
      ["one", "st"],
      ["two", "nd"],
      ["few", "rd"],
      ["other", "th"],
    ]);
    const rule = pr.select(rk);
    const suffix = suffixes.get(rule);
    return suffix;
  }
});
const gradeHistoricData = computed(() => {
  if (!props.item) return null;
  let gradesdata = grades[props.type][props.item.id];
  let cupdata = cupstats.value;
  if (cupdata) {
    return {
      labels: cupdata
        .filter((c, i) => i >= gradesdata.t - 1)
        .map((c) => mktt("tours", c.id) || c.name),
      datasets: [
        {
          label: $itt(props.type, "grades_history.grade"),
          backgroundColor: "#0091EA",
          borderColor: "#0091EA",
          data: gradesdata.g || [],
          tension: 0.4,
        },
        {
          label: $itt(props.type, "grades_history.rank"),
          backgroundColor: "#FFCA28",
          borderColor: "#FFCA28",
          data:
            gradesdata.p.map((p, i) => {
              let nbtot = grades.tours[gradesdata.t + i - 1][props.type];
              return Number((1 - (p - 1) / nbtot) * 100).toFixed(2);
            }) || [],
          positions:
            gradesdata.p.map((p, i) => {
              let nbtot = grades.tours[gradesdata.t + i - 1][props.type];
              return p + " / " + nbtot;
            }) || [],
          tension: 0.4,
        },
      ],
    };
  }
});
const t3Data = computed(() => {
  if (!props.item) return null;
  let cupdata = cupstats.value;
  if (cupdata) {
    return {
      labels: cupdata.map((c) => mktt("tours", c.id) || c.name),
      datasets: [
        {
          label: $itt(props.type, "newt3.label"),
          backgroundColor: "#FFCA28",
          data:
            (collection.newt3[byid.value] &&
              collection.newt3[byid.value][props.item.id]) ||
            [],
          tension: 0.4,
        },
      ],
    };
  }
});
const cupsData = computed(() => {
  let cupdata = cupstats.value;
  if (cupdata) {
    return {
      labels: cupdata.map((c) => mktt("tours", c.id) || c.name),
      datasets: [
        {
          label: $itt(props.type, "details.stats.w1"),
          backgroundColor: "#FFCA28",
          data: cupdata.map((c) => c.nbW1),
          tension: 0.4,
        },
        {
          label: $itt(props.type, "details.stats.w2"),
          backgroundColor: "#FFAB00",
          data: cupdata.map((c) => c.nbW2),
          tension: 0.4,
        },
        {
          label: $itt(props.type, "details.stats.ranked"),
          backgroundColor: "#00B8D4",
          data: cupdata.map((c) => c.nbRup),
          tension: 0.4,
        },
        {
          label: $itt(props.type, "details.stats.other"),
          backgroundColor: "#0091EA",
          data: cupdata.map((c) => c.nbOthers),
          tension: 0.4,
        },
      ],
    };
  }
});
const chartopts = ref({
  maintainAspectRatio: false,
  plugins: {
    legend: {
      labels: {
        color: "#ffffff",
      },
    },
  },
  scales: {
    x: {
      stacked: true,
      ticks: {
        color: "#ffffff",
      },
      grid: {
        color: "#999999",
      },
    },
    y: {
      stacked: true,
      ticks: {
        color: "#ffffff",
        precision: 0,
      },
      grid: {
        color: "#999999",
      },
    },
  },
});
const chartoptsgrades = ref({
  type: "line",
  maintainAspectRatio: false,
  plugins: {
    legend: {
      labels: {
        color: "#ffffff",
      },
    },
    tooltip: {
      callbacks: {
        label: function (context) {
          let label =
            context.dataset.label +
            " : " +
            (context.dataset.positions
              ? context.dataset.positions[context.dataIndex]
              : context.formattedValue);
          return label;
        },
      },
    },
  },
  scales: {
    x: {
      ticks: {
        color: "#ffffff",
      },
      grid: {
        color: "#999999",
      },
    },
    y: {
      ticks: {
        color: "#ffffff",
        precision: 0,
      },
      grid: {
        color: "#999999",
      },
      //suggestedMin: 0,
      suggestedMax: 100,
    },
  },
});
const utility = computed(() => {
  if (!props.item) return 0;
  return (
    (collection.utility[byid.value] &&
      collection.utility[byid.value][props.item.id]) || {
      nbUtile: 0,
      nbNonUniqueUtile: 0,
      tops: [],
    }
  );
});
/** Prepare tops for being displayed in html table with rowspan */
const tops = computed(() => {
  if (!props.item) return [];
  let lines =
    utility.value?.tops?.flatMap((t, j) =>
      t.points.map((tp, i) => ({
        ...tp,
        points: tp.points == 0 ? "-" : tp.points,
        even: j % 2 === 0,
        level:
          i === 0
            ? t.level === props.item.collect?.l
              ? "-"
              : t.level
            : undefined,
        rowspan: i === 0 ? t.points.length : undefined,
      }))
    ) || [];
  let cur = 0;
  lines.forEach((l) => {
    let oadd = l.nbadd;
    l.nbadd += cur;
    cur += oadd;
  });
  return lines;
});
const propsItems = [
  { prop: "drivers", dbKey: "d", itemGetter: getDriverById },
  { prop: "karts", dbKey: "k", itemGetter: getKartById },
  { prop: "gliders", dbKey: "g", itemGetter: getGliderById },
];
const itemObjects = computed(() => {
  let res = {};
  let def = propsItems.find((p) => p.prop === props.type);
  for (let c of courses.value?.preferred) {
    let allds = c.p[def.dbKey];
    allds = allds.map((itemId) => {
      return {
        ...def.itemGetter(itemId),
        collect: collection[byid.value] && collection[byid.value][itemId],
      };
    });
    // add secondadry drivers with condition
    c.p2[def.dbKey]?.forEach((itemId) => {
      if (Array.isArray(itemId)) {
        allds.push({
          ...def.itemGetter(itemId[0]),
          collect: collection[byid.value] && collection[byid.value][itemId[0]],
          fromLevel: itemId[1],
        });
      }
    });
    allds = allds.filter(Boolean);
    allds.sort(sortItems(collection, undefined, undefined, props.item?.id));
    res[c.id] = allds;
  }
  return res;
});
const wanted = computed(() => {
  if (!props.item) return 0;
  return (
    (collection.wanted[byid.value] &&
      collection.wanted[byid.value][props.item.id]) || {
      nbCovered: 0,
      nbNonUniqueCovered: 0,
    }
  );
});
</script>
<style scoped>
.ul-stats {
  list-style: none;
  padding-left: 0;
}
table.stats {
  margin: 0;
  border-spacing: 0;
}
table.stats td,
table.stats th {
  padding: 5px 10px;
}
table.stats tr.even td {
  background: var(--gray-600);
}
table.stats tr .total {
  background: var(--yellow-400);
  color: var(--yellow-900);
}
table.stats tr.even td.total {
  background: var(--yellow-600);
  color: var(--yellow-900);
}
</style>
