<template>
  <ItemDetails
    v-if="curItem"
    :type="props.type"
    :item="curItem"
    :objects-path="objectsPath"
    :objects-property="objectsProperty"
    :objects-extension="objectsExtension"
  >
  </ItemDetails>
</template>
<script setup>
const props = defineProps({
  type: {
    type: String,
    default: "drivers",
  },
  objectsPath: {
    type: String,
    default: null,
  },
  objectsProperty: {
    type: String,
    default: null,
  },
  objectsExtension: {
    type: String,
    default: "webp",
  },
  filters: {
    type: Array,
    default: () => [],
  },
  curItem: {
    type: Object,
    default: null,
  },
});
</script>
<style></style>
