<template>
  <div class="relative">
    <div
      class="fixed flex bg-blue-800 z-5 w-full p-2 align-items-center justify-content-center"
      style="
        width: 711px;
        max-width: calc(min(100%, max(30vw, 450px)));
        padding-right: 20px !important;
      "
    >
      <Button
        icon="pi pi-filter"
        class="p-button-rounded"
        @click="toggleFilters"
        v-tooltip="$itt(props.type, 'filter')"
      ></Button>
      <div class="flex-grow-1 text-center text-lg text-white">
        {{ $itt(props.type, "nb", { nb: filteredItems.length }) }}
      </div>
      <Button
        icon="pi pi-sort-amount-down"
        class="p-button-rounded"
        @click="toggleSortMenu"
        v-tooltip="$itt(props.type, 'sort')"
      ></Button>
    </div>
    <TieredMenu
      ref="sortmenu"
      :model="sortOptions"
      :popup="true"
      :baseZIndex="100"
      class="sortmenu"
      style="min-width: 300px"
    />
    <OverlayPanel ref="filtermenu" appendTo="body" style="width: 300px">
      <div>
        <FilterList
          v-for="(f, i) in props.filters"
          :config="f"
          v-model="filterValue[i]"
          class="filteritem"
        />
      </div>
    </OverlayPanel>
    <div class="p-0 pt-7 sm:p-2 sm:pt-7">
      <Message
        severity="info"
        icon="pi pi-sort-amount-down"
        class="p-inline-message small-message"
        v-if="sortFunc != null"
        @close="sortItems(null, null, null)"
      >
        {{ $itt(props.type, "sortoptions.remove", { label: sortLabel }) }}
      </Message>
      <div class="flex flex-wrap align-items-center justify-content-center">
        <template v-for="d of filteredItems" :key="d.id">
          <ItemCard
            :type="props.type"
            :item="d"
            class="m-0 sm:m-1"
            @select="selectItem"
            :additionalValueLabel="sortLabel"
            v-styleclass="itemStyleClass"
            no-overlay
          />
        </template>
      </div>
    </div>
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
import { ref, onMounted, computed, onUnmounted } from "vue";
const dbContext = useDb();
const { $itt } = useNuxtApp();

const props = defineProps({
  type: {
    type: String,
    default: "drivers",
  },
  filters: {
    type: Array,
    default: () => [],
  },
  curItem: {
    type: Object,
    default: null,
  },
});

const typeById = {
  drivers: "driversById",
  karts: "kartsById",
  gliders: "glidersById",
};

const items = computed(() => {
  return dbContext[props.type];
});

const { grades } = useGrades();

const { t, locale, locales } = useI18n();

const { collection } = useCollection();
const { nbTours } = useDb();

const windowSize = ref(window.innerWidth);

onMounted(() => {
  // load sort
  if (localStorage["kamekbook_sort"]) {
    // from localStorage
    for (let m of sortOptions.value) {
      if (
        m.id &&
        m.id == localStorage["kamekbook_sort"] &&
        typeof m.command === "function"
      ) {
        m.command();
        break;
      }
      if (m.items) {
        for (let it of m.items) {
          if (
            it.id &&
            it.id == localStorage["kamekbook_sort"] &&
            typeof it.command === "function"
          ) {
            it.command();
            break;
          }
        }
      }
    }
  } else {
    // from url
    let sort_url = route.query.s;
    if (sort_url) {
      for (let m of sortOptions.value) {
        if (m.id && m.id == sort_url && typeof m.command === "function") {
          m.command();
          break;
        }
        if (m.items) {
          for (let it of m.items) {
            if (
              it.id &&
              it.id == sort_url &&
              typeof it.command === "function"
            ) {
              it.command();
              break;
            }
          }
        }
      }
    }
  }
  window.addEventListener("resize", () => {
    windowSize.value = window.innerWidth;
  });
});
onUnmounted(() => {
  window.removeEventListener("resize", () => {
    windowSize.value = window.innerWidth;
  });
});

const itemStyleClass = computed(() => {
  return windowSize.value <= 990
    ? {
        selector: "#menulist",
        leaveToClass: "hidden",
        leaveActiveClass: "fadeoutleft",
      }
    : { selector: "#menulist" };
});

const sortFunc = ref();
const directionFunc = ref();
const sortLabel = ref();
const sortAsc = ref(false);
const sortedItems = computed(() => {
  if (sortFunc.value) {
    let resds = items.value.map((d) => ({
      ...d,
      sortValue: sortFunc.value(d),
      direction: directionFunc.value && directionFunc.value(d),
    }));
    resds.sort(
      (a, b) => (sortAsc.value ? -1 : 1) * (b.sortValue - a.sortValue)
    );
    return resds;
  } else {
    return items.value;
  }
});
const route = useRoute();

const sortItems = (id, fcsort, sortlbl, asc = false, fcdir) => {
  router.push(route.path + (id ? "?s=" + id : ""));
  if (id) {
    localStorage["kamekbook_sort"] = id;
  } else {
    localStorage.removeItem("kamekbook_sort");
  }
  sortFunc.value = fcsort;
  directionFunc.value = fcdir;
  sortLabel.value = sortlbl;
  sortAsc.value = asc;
};
const sortmenu = ref();
const toggleSortMenu = (event) => {
  sortmenu.value.toggle(event);
};
const byid = computed(() => {
  return typeById[props.type];
});
const sortOptions = computed(() => {
  let res = [
    {
      label: $itt(props.type, "sortoptions.grades.header"),
      items: [
        {
          id: "grade",
          label: $itt(props.type, "sortoptions.grades.total"),
          command: () =>
            sortItems(
              "grade",
              (d) => d.grades?.value?.total,
              $itt(props.type, "sortoptions.grades.total", null, { t }),
              false,
              (d) => {
                let gradesdata = grades[props.type][d.id];
                let current = gradesdata.p[gradesdata.p.length - 1];
                if (gradesdata.p.length > 1) {
                  let prev = gradesdata.p[gradesdata.p.length - 2];
                  if (prev > current) {
                    // go up
                    return "up";
                  } else if (prev === current) {
                    // stable
                    return "stable";
                  } else {
                    // go down
                    return "down";
                  }
                } else {
                  // new one -> go up  !
                  return "up";
                }
              }
            ),
        },
        {
          id: "grade_cups",
          label: $itt(props.type, "sortoptions.grades.cups"),
          command: () =>
            sortItems(
              "grade_cups",
              (d) => d.grades?.value?.cups,
              $itt(props.type, "sortoptions.grades.cups", null, { t })
            ),
        },
        {
          id: "grade_rankedcups",
          label: $itt(props.type, "sortoptions.grades.rankedCups"),
          command: () =>
            sortItems(
              "grade_rankedcups",
              (d) => d.grades?.value?.rankedCups,
              $itt(props.type, "sortoptions.grades.rankedCups", null, { t })
            ),
        },
        { separator: true },
        {
          id: "grade_col_total",
          label: $itt(props.type, "sortoptions.grades.col_total"),
          command: () =>
            sortItems(
              "grade_col_total",
              (d) =>
                (collection.grades[byid.value] &&
                  collection.grades[byid.value][d.id]?.grades?.total) ||
                0,
              $itt(props.type, "sortoptions.grades.col_total", null, { t })
            ),
        },
        {
          id: "grade_effort10",
          label: $itt(props.type, "sortoptions.grades.effort10"),
          command: () =>
            sortItems(
              "grade_effort10",
              (d) =>
                (collection.grades[byid.value] &&
                  collection.grades[byid.value][d.id]?.grades?.effort10) ||
                0,
              $itt(props.type, "sortoptions.grades.effort10", null, { t })
            ),
        },
        {
          id: "grade_effort50p",
          label: $itt(props.type, "sortoptions.grades.effort50p"),
          command: () =>
            sortItems(
              "grade_effort50p",
              (d) =>
                (collection.grades[byid.value] &&
                  collection.grades[byid.value][d.id]?.grades?.effort50p) ||
                0,
              $itt(props.type, "sortoptions.grades.effort50p", null, { t })
            ),
        },
      ],
    },
    {
      label: $itt(props.type, "sortoptions.favorite.header"),
      items: [
        {
          id: "nb_fav",
          label: $itt(props.type, "sortoptions.favorite.courses"),
          command: () =>
            sortItems(
              "nb_fav",
              (d) => d.preferred_courses.preferred.length,
              $itt(props.type, "sortoptions.favorite.courses", null, { t })
            ),
        },
        {
          id: "nb_nu_fav",
          label: $itt(props.type, "sortoptions.favorite.nonunique"),
          command: () =>
            sortItems(
              "nb_nu_fav",
              (d) =>
                d.preferred_courses.preferred.reduce(
                  (acc, v) => acc + (v.unique ? 0 : 1),
                  0
                ),
              $itt(props.type, "sortoptions.favorite.nonunique", null, { t })
            ),
        },
        {
          id: "utility",
          label: $itt(props.type, "sortoptions.favorite.utility"),
          command: () =>
            sortItems(
              "utility",
              (d) => {
                return (
                  (collection.utility[byid.value] &&
                    collection.utility[byid.value][d.id]?.nbUtile) ||
                  0
                );
              },
              $itt(props.type, "sortoptions.favorite.utility_desc", null, { t })
            ),
        },
        {
          id: "nu_utility",
          label: $itt(props.type, "sortoptions.favorite.nonuniqueutility"),
          command: () =>
            sortItems(
              "nu_utility",
              (d) => {
                return (
                  (collection.utility[byid.value] &&
                    collection.utility[byid.value][d.id]?.nbNonUniqueUtile) ||
                  0
                );
              },
              $itt(
                props.type,
                "sortoptions.favorite.nonuniqueutility_desc",
                null,
                { t }
              )
            ),
        },
        {
          id: "wanted",
          label: $itt(props.type, "sortoptions.favorite.wanted"),
          command: () =>
            sortItems(
              "wanted",
              (d) => {
                return (
                  (collection.wanted[byid.value] &&
                    collection.wanted[byid.value][d.id]?.nbCovered) ||
                  0
                );
              },
              $itt(props.type, "sortoptions.favorite.wanted_desc", null, { t })
            ),
        },
        {
          id: "nu_wanted",
          label: $itt(props.type, "sortoptions.favorite.nonuniquewanted"),
          command: () =>
            sortItems(
              "nu_wanted",
              (d) => {
                return (
                  (collection.wanted[byid.value] &&
                    collection.wanted[byid.value][d.id]?.nbNonUniqueCovered) ||
                  0
                );
              },
              $itt(
                props.type,
                "sortoptions.favorite.nonuniquewanted_desc",
                null,
                { t }
              )
            ),
        },
      ],
    },
    {
      label: $itt(props.type, "sortoptions.toptier.header"),
      items: [
        {
          id: "toptier",
          label: $itt(props.type, "sortoptions.toptier.total"),
          command: () =>
            sortItems(
              "toptier",
              (d) => d.total_stats.totalcourses,
              $itt(props.type, "sortoptions.toptier.totaldesc", null, { t })
            ),
        },
        {
          id: "ranked",
          label: $itt(props.type, "sortoptions.toptier.ranked"),
          command: () =>
            sortItems(
              "ranked",
              (d) => d.total_stats.totalclassified,
              $itt(props.type, "sortoptions.toptier.rankeddesc", null, { t })
            ),
        },
        {
          id: "nu_toptier",
          label: $itt(props.type, "sortoptions.toptier.nonunique"),
          command: () =>
            sortItems(
              "nu_toptier",
              (d) => d.total_stats.totalcourses - d.total_stats.totalunique,
              $itt(props.type, "sortoptions.toptier.nonuniquedesc", null, { t })
            ),
        },
      ],
    },
    {
      label: $itt(props.type, "sortoptions.lastyear.header"),
      items: [
        {
          id: "toptier_ly",
          label: $itt(props.type, "sortoptions.lastyear.total"),
          command: () =>
            sortItems(
              "toptier_ly",
              (d) => d.total_stats.lastyeartotal,
              $itt(props.type, "sortoptions.lastyear.totaldesc", null, { t })
            ),
        },
        {
          id: "ranked_ly",
          label: $itt(props.type, "sortoptions.lastyear.ranked"),
          command: () =>
            sortItems(
              "ranked_ly",
              (d) => d.total_stats.lastyearclassified,
              $itt(props.type, "sortoptions.lastyear.rankeddesc", null, { t })
            ),
        },
        {
          id: "toptier_nu_ly",
          label: $itt(props.type, "sortoptions.lastyear.nonunique"),
          command: () =>
            sortItems(
              "toptier_nu_ly",
              (d) =>
                d.total_stats.lastyeartotal - d.total_stats.lastyeartotalunique,
              $itt(props.type, "sortoptions.lastyear.nonuniquedesc", null, {
                t,
              })
            ),
        },
      ],
    },
    {
      label: $itt(props.type, "sortoptions.recent.mostrecent"),
      id: "recent",
      command: () =>
        sortItems(
          "recent",
          (d) => nbTours - d.t,
          $itt(props.type, "sortoptions.recent.mostrecentdesc", null, {
            t,
          }),
          true
        ),
    },
  ];
  if (sortFunc.value) {
    return reactive([
      {
        id: null,
        label: $itt(props.type, "sortoptions.default"),
        command: () => sortItems(null, null, null),
      },
      ...res,
    ]);
  } else {
    return reactive([...res]);
  }
});

const router = useRouter();
const selectItem = (item) => {
  router.push("/" + props.type + "/" + dbContext.getItemSlug(props.type, item));
};

const filterValue = ref([]);
const filtermenu = ref();
const toggleFilters = (event) => {
  filtermenu.value.toggle(event);
};
const filteredItems = computed(() => {
  if (Array.isArray(sortedItems.value)) {
    return (
      sortedItems.value
        ?.map((d) => {
          return {
            ...d,
            collect: collection[byid.value] && collection[byid.value][d.id],
          };
        })
        .filter((d) => {
          let filtered = true,
            hasFilter = false;
          for (let i = 0; i < props.filters.length; i++) {
            if (filterValue.value[i]) {
              hasFilter = true;
              filtered =
                filtered &&
                props.filters[i].filter(
                  Array.isArray(filterValue.value[i])
                    ? filterValue.value[i].filter(Boolean).map((el) => el.value)
                    : filterValue.value[i],
                  d
                );
            }
          }
          return !hasFilter || filtered;
        }) || []
    );
  } else {
    return [];
  }
});
</script>
<style>
.sortmenu {
  min-width: 300px !important;
}
</style>
