<template>
  <div v-if="collect">
    <slot></slot>
    <div class="">
      <span v-if="labels" class="text-sm">{{
        $itt(props.type, "collection.levellabel")
      }}</span>

      <div
        class="mkt-level cursor-pointer mb-1 inline-block"
        :class="{ 'text-xl': !small, 'text-normal': small }"
        v-tooltip.bottom="$itt(props.type, 'collection.level')"
        @click="toggleLevel"
        style="min-width: 30px"
      >
        {{ props.collect?.l }}
      </div>
      <div
        v-if="props.fromLevel"
        class="mkt-level from ml-2 mb-1 inline-block"
        :class="{ 'text-xl': !small, 'text-normal': small }"
        v-tooltip.bottom="$itt(props.type, 'collection.fromlevel')"
        style="min-width: 30px"
      >
        {{ props.fromLevel }}
      </div>
    </div>
    <div class="">
      <span v-if="labels" class="text-sm">{{
        $itt(props.type, "collection.pointslabel")
      }}</span>
      <div
        class="mkt-points cursor-pointer inline-block"
        :class="{ 'text-xl mb-1': !small, 'text-normal': small }"
        @click="togglePoints"
        v-tooltip.bottom="$itt(props.type, 'collection.points')"
      >
        {{ nbPoints }}
      </div>
    </div>
    <OverlayPanel ref="level" appendTo="body" style="width: 250px">
      <div>
        <div class="mb-2 text-sm">
          {{ $itt(props.type, "collection.chooselevel") }}
        </div>
        <div class="flex flex-wrap">
          <span
            v-for="i in 8"
            class="mkt-level text-2xl cursor-pointer mr-2"
            @click="setLevel(i)"
            >{{ i }}
          </span>
        </div>
      </div>
    </OverlayPanel>
    <OverlayPanel ref="points" appendTo="body" style="width: 300px">
      <div>
        <div class="mb-2 text-sm">
          {{ $itt(props.type, "collection.choosecap") }}
        </div>
        <div class="flex flex-wrap">
          <img v-lazy="capticketImage" width="60" class="inline-block mr-3" />
          <span
            v-for="i in 5"
            class="mkt-level text-2xl cursor-pointer mr-2"
            @click="setCap(i - 1)"
            >{{ i - 1 }}
          </span>
        </div>
        <div class="mb-2 mt-4 text-sm">
          {{ $itt(props.type, "collection.changepoints") }}
        </div>
        <div
          class="flex flex-wrap m-auto align-items-center justify-content-center"
        >
          <Button
            icon="pi pi-minus"
            class="p-button-rounded mr-2"
            @click="decreasePoints(props.type, props.collect.id)"
          ></Button>
          <div class="mkt-points text-3xl mb-1 inline-block">
            {{ nbPoints }}
          </div>
          <Button
            icon="pi pi-plus"
            class="p-button-rounded ml-2"
            @click="increasePoints(props.type, props.collect.id)"
          ></Button>
        </div>
      </div>
    </OverlayPanel>
  </div>
  <div
    v-else-if="props.fromLevel"
    class="mkt-level from ml-2 mb-1 inline-block"
    :class="{ 'text-xl': !small, 'text-normal': small }"
    v-tooltip.bottom="$itt(props.type, 'collection.fromlevel')"
    style="min-width: 30px"
  >
    {{ props.fromLevel }}
  </div>
</template>
<script setup>
import { ref } from "vue";
const { collection, updateItem, decreasePoints, increasePoints } =
  useCollection();
const { getItemById } = useDb();

const props = defineProps({
  type: {
    type: String,
    default: null,
  },
  collect: {
    type: Object,
    default: null,
  },
  labels: {
    type: Boolean,
    default: false,
  },
  fromLevel: {
    type: Number,
    default: null,
  },
  small: {
    type: Boolean,
    default: false,
  },
});
const level = ref();
const points = ref();
const toggleLevel = (event) => {
  level.value.toggle(event);
  event.preventDefault();
  event.stopPropagation();
};
const togglePoints = (event) => {
  points.value.toggle(event);
  console.log(event);
  event.preventDefault();
  event.stopPropagation();
};
const setLevel = (lvl) => {
  updateItem({ type: props.type, id: props.collect.id, level: lvl });
  level.value.hide();
};
const setCap = (cap) => {
  updateItem({ type: props.type, id: props.collect.id, cap });
};
const item = computed(() => {
  return getItemById(props.type, props.collect.id);
});
const capticketImage = computed(() => {
  return "/capticket/" + props.type + "-" + item.value?.r + ".png";
});
const nbPoints = computed(() => {
  let res = props.collect?.p;
  if (props.type === "drivers" && props.collect?.mii) {
    res += collection.nbMiiPoints;
  }
  return res;
});
</script>
<style scoped></style>
