<template>
  <div
    class="mkt-card relative"
    :class="{
      collect: isAvailable,
    }"
    @click="selectItem"
    @dblclick="onDblClick"
  >
    <div
      class="mkt-back absolute top-0 left-0"
      v-lazy:background-image="rarityImageBack"
    ></div>
    <div
      class="mkt-item absolute top-0 left-0"
      v-lazy:background-image="itemImage"
    ></div>
    <div
      class="mkt-frame absolute top-0 left-0"
      v-lazy:background-image="rarityImageFrame"
    ></div>
    <div
      class="mkt-frame absolute top-0 left-0"
      v-lazy:background-image="rarityImageFrame"
    ></div>
    <div
      v-if="props.item?.collect"
      class="mkt-sortvalue absolute top-0 left-0 bg-red-700 border-round opacity-90 text-blue-900 m-1 px-1 py-0 text-white mb-1"
      v-tooltip="$itt(props.type, 'collection.pointsperactiondesc')"
      :style="{ 'font-size': small ? '10px' : '12px' }"
    >
      <span class="">
        {{ Number(bonusPoints(collection, props.item?.collect).toFixed(1)) }}
      </span>
    </div>
    <div
      class="mkt-sortvalue bg-blue-300 absolute top-0 right-0 -m-1 border-round opacity-90 text-blue-900 shadow-xl"
      :class="{
        'p-1': !props.item.direction,
        'px-1 py-0': props.item.direction,
      }"
      v-if="props.item.sortValue"
      v-tooltip="additionalValueLabel"
    >
      <div class="flex align-items-center">
        <span class="text-sm">
          {{ props.item.sortValue }}
        </span>
        <div
          v-if="props.item.direction"
          class="inline-block"
          style="vertical-align: middle"
        >
          <div
            v-tooltip="$itt(type, 'direction.up')"
            v-if="props.item.direction === 'up'"
          >
            <IconUp
              class="text-base ml-1 border-circle p-0 text-white bg-green-500 mt-1"
            />
          </div>
          <div
            v-tooltip="$itt(type, 'direction.stable')"
            v-if="props.item.direction === 'stable'"
          >
            <IconStable
              class="text-base ml-1 border-circle p-0 text-white bg-gray-300 mt-1"
            />
          </div>
          <div
            v-tooltip="$itt(type, 'direction.down')"
            v-if="props.item.direction === 'down'"
          >
            <IconDown
              class="text-base ml-1 border-circle p-0 text-white bg-orange-500 mt-1"
            />
          </div>
        </div>
      </div>
    </div>
    <img
      v-lazy="objectsPath + item.s + '.' + objectsExtension"
      width="40"
      class="mkt-object absolute bottom-0 left-0"
      v-tooltip="objectName"
    />
    <div class="mkt-name absolute left-0" :class="{ 'text-sm': small }">
      {{ i18nName }}
    </div>
    <ItemPoints
      class="absolute bottom-0 right-0 text-right mr-1"
      :class="{ 'mb-2': !small, 'mb-1': small }"
      :type="type"
      :small="small"
      :collect="props.item.collect"
      :from-level="props.item.fromLevel"
    >
    </ItemPoints>
    <OverlayPanel ref="links" appendTo="body" style="width: 270px">
      <div class="text-center">
        <div class="mb-2">
          {{ i18nName }}
        </div>
        <Button
          class="m-1 p-button-sm w-full text-center inline-block"
          @click="goToPage"
        >
          <span class="pi pi-link"></span>
          {{ $itt(type, "goToPage") }}
        </Button>
        <Button
          class="m-1 p-button-sm w-full text-center inline-block"
          :class="{
            'p-button-danger': props.item.collect,
            'p-button-success': !props.item.collect,
          }"
          @click="updateItemClick"
        >
          {{
            $itt(
              type,
              props.item.collect
                ? "details.removecollection"
                : "details.addcollection"
            )
          }}
        </Button>
      </div>
    </OverlayPanel>
  </div>
</template>
<script setup>
import { computed } from "vue";
import { useI18n } from "vue-i18n";
import { useMKTi18n } from "~~/composables/useMKTi18n";
import { bonusPoints } from "../helpers/ItemsHelper";
const { t, locale, locales } = useI18n();
const { collection, updateItem, removeItem } = useCollection();
const dbContext = useDb();

const props = defineProps({
  type: {
    type: String,
    default: null,
  },
  item: {
    type: Object,
    default: null,
  },
  additionalValueLabel: {
    type: String,
    default: null,
  },
  additionalDirection: {
    type: String,
    default: null,
  },
  small: {
    type: Boolean,
    default: false,
  },
  noOverlay: Boolean,
});

const { mktt } = useMKTi18n();

const i18nName = computed(() => {
  return mktt(props.type, props.item?.id) || props.item?.n;
});

const links = ref();
const toggleLinks = (event) => {
  links.value.toggle(event);
};

const objectName = computed(() => {
  return mktt(props.type + "_skills", props.item.s);
});

const objectsExtension = computed(() => {
  if (props.type === "karts") {
    return "png";
  } else {
    return "webp";
  }
});

const objectsPath = computed(() => {
  if (props.type === "drivers") {
    return "/drivers/skills/icon/";
  } else if (props.type === "karts") {
    return "/karts/skills/icon/";
  } else if (props.type === "gliders") {
    return "/gliders/skills/icon/";
  }
});
const isAvailable = computed(() => {
  return (
    props.item.collect &&
    (!props.item.fromLevel || props.item.fromLevel <= props.item.collect.l)
  );
});
const itemImage = computed(() => {
  return "/" + props.type + "/list/cover/" + props.item?.id + ".webp";
});

const rarityImageBack = computed(() => {
  return (
    "/card/" +
    props.item?.r +
    (props.type === "drivers" ? "-base.png" : "-basegarage.png")
  );
});
const rarityImageFrame = computed(() => {
  return (
    "/card/" +
    props.item?.r +
    (props.type === "drivers" ? "-frame2.png" : "-frame.png")
  );
});

const emit = defineEmits(["select"]);
const selectItem = (event) => {
  console.log(props.item.id);
  emit("select", props.item);
  if (!props.noOverlay) {
    toggleLinks(event);
  }
};

const router = useRouter();
const goToPage = () => {
  router.push(
    "/" + props.type + "/" + dbContext.getItemSlug(props.type, props.item)
  );
};

const updateItemClick = () => {
  if (props.item.collect) {
    removeItem({ type: props.type, id: props.item.id });
  } else {
    updateItem({ type: props.type, id: props.item.id });
  }
};

const onDblClick = () => {
  if (props.noOverlay) {
    updateItemClick();
  }
};
</script>
<style scoped>
.mkt-card {
  cursor: pointer;
  transition: all 0.25s;
  width: calc(25%);
  aspect-ratio: 216 / 278;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 5px;
}
@media (min-width: 576px) {
  .mkt-card {
    width: calc(25% - 8px);
  }
}
.mkt-card:hover {
  transform: scale(1.025);
}
.mkt-card.collect .mkt-sortvalue {
  filter: brightness(100%);
}

.mkt-item,
.mkt-frame,
.mkt-back {
  width: 100%;
  aspect-ratio: 216 / 278;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  filter: brightness(60%);
}
.mkt-back {
  background-size: cover;
}
.mkt-card img {
  filter: brightness(60%);
}
.mkt-card.collect .mkt-item,
.mkt-card.collect .mkt-frame,
.mkt-card.collect .mkt-back,
.mkt-card.collect img {
  filter: brightness(100%);
}
.mkt-item {
  margin: 5%;
  width: calc(100% - 10%);
  aspect-ratio: 216 / 278;
  background-size: contain;
}
.mkt-object {
  width: 25%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.mkt-name {
  width: 100%;
  text-align: center;
  background-color: var(--mkt-ground);
  color: white;
  padding: 10px 5px;
  opacity: 0%;
  transition: all 0.25s;
  top: 50%;
  transform: translateY(-50%);
}
.mkt-card:hover .mkt-name {
  opacity: 80%;
}
</style>
