<template>
  <div class="info-card flex flex-wrap text-base py-4">
    <div>
      <div class="flex align-items-center justify-content-center">
        <div class="flex align-items-center pr-4">
          <img
            v-lazy="'/' + img"
            :height="props.type === 'drivers' ? 48 : 40"
          />
          <div>
            <div class="no-border mkt-level text-3xl ml-2">
              {{ stat?.percent }}
              %
            </div>
            <div class="no-border mkt-points text-xl ml-2">
              {{ stat?.totalOwned }} / {{ stat?.total }}
            </div>
          </div>
        </div>
      </div>
      <div class="flex mt-3 gap-4">
        <div v-for="i of [0, 1, 2]" class="flex-grow-1 text-center">
          <img
            v-lazy="'/ticket/' + props.type + '-' + i + '.png'"
            :width="64"
          />
          <div class="no-border mkt-level text-lg">
            {{ stat?.rarity && stat?.rarity[i].percent }}
            %
          </div>
          <div class="no-border mkt-points text-normal">
            {{ stat?.rarity && stat?.rarity[i].totalOwned }} /
            {{ stat?.rarity && stat?.rarity[i].total }}
          </div>
        </div>
      </div>
      <div class="mt-3 text-center">{{ $itt(props.type, "mostuseful") }} :</div>
      <div
        class="flex flex-wrap align-items-center justify-content-center p-0 pt-2 sm:p-2 sm:pt-2"
        style="width: 340px"
      >
        <template v-for="it of topItems" :key="it.id">
          <ItemCard
            :type="props.type"
            :item="it"
            small
            :additionalValueLabel="
              it.collect
                ? $itt(props.type, 'sortoptions.favorite.utility_desc')
                : $itt(props.type, 'sortoptions.lastyear.rankeddesc')
            "
            @select="selectItem"
            class="m-0 sm:m-1"
            style="width: 100px"
          />
        </template>
      </div>
      <div v-if="levelStats">
        <Chart
          class="p-1 pb-4 xl:px-4"
          type="bar"
          :data="levelStats"
          :options="chartOptionStacked"
          :style="{ height: '300px' }"
        />
        <div class="text-base" :class="{ 'text-center': !withStats }">
          {{ $itt(props.type, "stats.mean") }}
          <div class="no-border mkt-level text-xl ml-2 inline">
            {{ meanLevel }}
          </div>
        </div>
      </div>
    </div>
    <div v-if="withStats" class="flex-grow-1">
      <div class="mb-2">
        {{ $itt(props.type, "stats.perobjects") }}
        <Chart
          class="p-1 pb-4 xl:px-4"
          type="bar"
          :data="objectsStats"
          v-if="objectsStats"
          :options="chartOption"
          :style="{ height: '400px' }"
        />
      </div>
      <div>
        <Chart
          class="p-1 pb-4 xl:px-4"
          type="bar"
          :data="toursStats"
          v-if="toursStats"
          :options="chartOption"
          :style="{ height: '400px' }"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
const { collection } = useCollection();
const dbContext = useDb();
const { mktt } = useMKTi18n();
const { $itt } = useNuxtApp();

const props = defineProps({
  type: String,
  withStats: Boolean,
});

const img = computed(() => {
  if (props.type === "drivers") {
    return "MenuDriver00.png";
  } else if (props.type === "karts") {
    return "MenuMachine00.png";
  } else if (props.type === "gliders") {
    return "MenuGlide00.png";
  }
});

const stat = computed(() => {
  return collection.stats && collection.stats[props.type];
});

const items = computed(() => {
  return dbContext[props.type];
});

const typeById = {
  drivers: "driversById",
  karts: "kartsById",
  gliders: "glidersById",
};
const byid = computed(() => {
  return typeById[props.type];
});

const sortedItems = computed(() => {
  let res = items.value.map((it) => {
    let nbutile =
        collection.utility[byid.value] &&
        collection.utility[byid.value][it.id]?.nbUtile,
      collect = collection[byid.value] && collection[byid.value][it.id];
    return {
      ...it,
      collect,
      sortValue: collect ? nbutile : it.total_stats.lastyearclassified,
    };
  });
  res.sort((a, b) =>
    b.collect && a.collect
      ? b.sortValue - a.sortValue
      : b.collect
      ? 10000
      : !a.collect
      ? b.sortValue - a.sortValue
      : -10000
  );
  return res;
});

const topItems = computed(() => {
  return sortedItems.value.slice(0, 9);
});

const router = useRouter();
const selectItem = (item) => {
  router.push("/" + props.type + "/" + dbContext.getItemSlug(props.type, item));
};

const chartOption = ref({
  maintainAspectRatio: false,
  plugins: {
    legend: {
      labels: {
        color: "#ffffff",
      },
    },
  },
  scales: {
    x: {
      ticks: {
        color: "#ffffff",
      },
      grid: {
        color: "#999999",
      },
    },
    y: {
      ticks: {
        color: "#ffffff",
        precision: 0,
      },
      grid: {
        color: "#999999",
      },
    },
  },
});

const chartOptionStacked = ref({
  maintainAspectRatio: false,
  plugins: {
    legend: {
      labels: {
        color: "#ffffff",
      },
    },
  },
  scales: {
    x: {
      stacked: true,
      ticks: {
        color: "#ffffff",
      },
      grid: {
        color: "#999999",
      },
    },
    y: {
      stacked: true,
      ticks: {
        color: "#ffffff",
        precision: 0,
      },
      grid: {
        color: "#999999",
      },
    },
  },
});
const objectsStats = computed(() => {
  if (!stat.value) return {};
  return {
    labels: stat.value.objects.map((o) => mktt(props.type + "_skills", o.id)),
    datasets: [
      {
        label: $itt(props.type, "stats.total"),
        backgroundColor: "rgba(179,181,198)",
        data: stat.value.objects.map((o) => o.total),
      },
      {
        label: $itt(props.type, "stats.mine"),
        backgroundColor: "#0091EA",
        data: stat.value.objects.map((o) => o.totalOwned),
      },
    ],
  };
});

const RARITY_COLORS = ["#d0d0d0", "#fdc232", "#e97ecc"];
const levelStats = computed(() => {
  if (!stat.value || !stat.value.levels.find((l) => l.total > 0)) return null;
  return {
    labels: stat.value.levels.map((l) =>
      $itt(props.type, "stats.level", { level: l.level })
    ),
    datasets: [0, 1, 2].map((r) => {
      return {
        label: $itt(props.type, "stats.level_rarity." + r),
        backgroundColor: RARITY_COLORS[r],
        data: stat.value.levels.map((o) => o.rarity[r].total),
      };
    }),
  };
});
const toursStats = computed(() => {
  if (!stat.value) return {};
  return {
    labels: stat.value.pertours.map((c) => mktt("tours", c.id)),
    datasets: [
      {
        label: $itt(props.type, "stats.pertours"),
        backgroundColor: "#0091EA",
        data: stat.value.pertours.map((o) => o.total),
      },
    ],
  };
});
const meanLevel = computed(() => {
  if (!stat.value) return 1;
  return stat.value.meanlevel?.toFixed(2);
});
</script>
