<template>
  <div class="inline-block">
    <div
      class="m-2 cursor-pointer"
      @click="toggleLangMenu"
      v-tooltip.left="currentLocaleName"
    >
      <country-flag :country="currentLocale?.countryFlag" size="normal" />
      <div v-tooltip.bottom="$t('global.notTranslated')" class="inline-block">
        <i
          class="pi pi-info-circle text-orange-400 text-lg ml-2"
          v-if="currentLocale?.notTranslated"
        ></i>
      </div>
    </div>
    <Menu
      ref="langmenu"
      :model="langs"
      :popup="true"
      :baseZIndex="100"
      class="langmenu"
    >
      <template #item="{ item }">
        <a
          @click="item.command"
          class="cursor-pointer px-3 py-2 block flex align-items-center hover:bg-blue-500"
        >
          <div class="inline" style="vertical-align: middle">
            <country-flag
              :country="item.countryFlag"
              size="normal"
              class="mr-1"
            />
          </div>
          {{ item.label }}
        </a>
      </template>
    </Menu>
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { locale, locales, setLocale } = useI18n();

const langmenu = ref();
const toggleLangMenu = (event) => {
  langmenu.value.toggle(event);
};

const currentLocale = computed(() => {
  return locales.value.find((l) => l.code === locale.value);
});
const currentLocaleName = computed(() => {
  return (currentLocale.value && currentLocale.value.name) || locale;
});

const langs = computed(() => {
  return locales.value.map((l) => {
    return {
      label: l.name,
      ...l,
      command: () => setLocale(l.code),
    };
  });
});
</script>
