<template>
  <div class="relative">
    <div
      class="fixed flex bg-blue-800 z-5 w-full p-2 align-items-center justify-content-center"
      :style="{
        width: '711px',
        'max-width': `calc(min(100%, ${
          currentTour == null ? '420px' : '120px'
        }))`,
      }"
    >
      <Button
        icon="pi pi-filter"
        class="p-button-rounded"
        @click="toggleFilters"
        v-tooltip="$t('tours.filter')"
      ></Button>
      <div class="flex-grow-1 text-center text-lg text-white">
        {{
          $t("tours.nb", {
            nb: filteredCups.length,
          })
        }}
      </div>
    </div>
    <Menu
      ref="sortmenu"
      :model="sortOptions"
      :popup="true"
      :baseZIndex="100"
      class="sortmenu"
      style="min-width: 300px"
    />
    <OverlayPanel ref="filtermenu" appendTo="body" style="width: 300px">
      <div>
        {{ curItem }}
        <FilterList
          v-for="(f, i) in filters"
          :config="f"
          v-model="filterValue[i]"
          class="filteritem"
        />
      </div>
    </OverlayPanel>
    <div class="p-0 pt-7 sm:p-2 sm:pt-7">
      <div class="flex flex-wrap align-items-center justify-content-center">
        <template v-for="(c, i) of filteredCups" :key="i">
          <TourCard
            :tour="c"
            class="m-0 sm:m-1 border-round overflow-hidden"
            :class="{
              'border-indigo-200 border-3 ': props.currentTour?.id == c.id,
            }"
            :id="'tour-card-list-' + c.id"
            @select="goToTour(c)"
            v-styleclass="itemStyleClass"
            :additionalValueLabel="sortLabel"
          />
        </template>
      </div>
    </div>
  </div>
</template>
<script setup>
import { ref, onMounted, computed, onUnmounted } from "vue";
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { db, getTourSlug, nbTours, slugify } = useDb();
const { collection } = useCollection();
const { $itt } = useNuxtApp();
const { mktt } = useMKTi18n();

const props = defineProps({
  curItem: {
    type: Object,
    default: null,
  },
  currentTour: {
    type: Object,
  },
});

watch(
  () => props.currentTour,
  (ncur) => {
    if (props.currentTour) {
      setTimeout(() => {
        // ensure visible in list
        let el = document.getElementById(
          "tour-card-list-" + props.currentTour.id
        );
        console.log("tour-card-list-" + props.currentTour.id, el);
        el.scrollIntoView({ behavior: "smooth" });
      }, 0);
    }
  },
  { immediate: true }
);

const goToTour = (c) => {
  router.push("/tours/" + getTourSlug(c));
};

const windowSize = ref(window.innerWidth);

onMounted(() => {
  window.addEventListener("resize", () => {
    windowSize.value = window.innerWidth;
  });
});
onUnmounted(() => {
  window.removeEventListener("resize", () => {
    windowSize.value = window.innerWidth;
  });
});

const itemStyleClass = computed(() => {
  return windowSize.value <= 990
    ? {
        selector: "#menulist",
        leaveToClass: "hidden",
        leaveActiveClass: "fadeoutleft",
      }
    : { selector: "#menulist" };
});

const sortFunc = ref();
const sortLabel = ref();
const sortAsc = ref(false);
const sortedItems = computed(() => {
  if (sortFunc.value) {
    let lst = [...db.cups.list];
    lst.reverse();
    let resds = lst.map((c) => {
      return {
        ...c,
        sortValue: sortFunc.value(c),
      };
    });
    resds.sort(
      (a, b) => (sortAsc.value ? -1 : 1) * (b.sortValue - a.sortValue)
    );
    return resds;
  } else {
    let lst = [...db.cups.list];
    lst.reverse();
    return lst;
  }
});
const sortItems = (fcsort, sortlbl, asc = false) => {
  sortFunc.value = fcsort;
  sortLabel.value = sortlbl;
  sortAsc.value = asc;
};
const sortmenu = ref();
const toggleSortMenu = (event) => {
  sortmenu.value.toggle(event);
};
const sortOptions = computed(() => {
  let res = [];
  if (sortFunc.value) {
    return [
      {
        label: $itt(props.type, "sortoptions.default"),
        command: () => sortItems(null, null),
      },
      ...res,
    ];
  } else {
    return res;
  }
});

const router = useRouter();
const selectItem = (item) => {
  router.push("/" + props.type + "/" + dbContext.getItemSlug(props.type, item));
};

const tourLocalizedNames = computed(() => {
  let res = {};
  db.cups.list.forEach((t) => {
    res[t.id] = mktt("tours", t.id);
    if (!res[t.id]) {
      //console.log("No translation for", d.id);
      res[t.id] = "";
    } else {
      res[t.id] = res[t.id].toLowerCase();
    }
  });
  return res;
});

const filters = [
  {
    label: t("tours.filters.name"),
    type: "input",
    filter: (name, d) => {
      if (name && name.trim() !== "") {
        return tourLocalizedNames.value[d.id].indexOf(name.toLowerCase()) >= 0;
      } else {
        return true;
      }
    },
  },
];
const filterValue = ref([]);
const filtermenu = ref();
const toggleFilters = (event) => {
  filtermenu.value.toggle(event);
};
const filteredCups = computed(() => {
  if (Array.isArray(sortedItems.value)) {
    return (
      sortedItems.value.filter((d) => {
        let filtered = true,
          hasFilter = false;
        for (let i = 0; i < filters.length; i++) {
          if (filterValue.value[i]) {
            hasFilter = true;
            filtered =
              filtered &&
              filters[i].filter(
                Array.isArray(filterValue.value[i])
                  ? filterValue.value[i].filter(Boolean).map((el) => el.value)
                  : filterValue.value[i],
                d
              );
          }
        }
        return !hasFilter || filtered;
      }) || []
    );
  } else {
    return [];
  }
});
</script>
<style>
.sortmenu {
  min-width: 300px !important;
}
</style>
