<template>
  <div class="p-0 xl:p-4 xl:pt-0">
    <div
      class="info-card first flex flex-wrap align-items-center justify-content-center"
    >
      <div
        :style="{
          width: '180px',
          height: '180px',
          'border-radius': '5px',
          'background-size': '100%',
          'background-image': 'url(' + itemImage + ')', // no v-lazy here because it gliches
          'background-position': 'center center',
        }"
        class="bg-gray-500 relative absolute"
      ></div>
      <div class="p-0 xl:p-5 text-white flex-grow-1">
        <div class="text-3xl">
          {{ mktt("tours", props.item.id) || props.item.n }}
        </div>
        <div class="text-sm mb-2">
          <Markdown
            :source="
              $t('tours.dates', {
                dateFrom,
                nbToursSince: dbContext.nbTours - props.item?.id,
              })
            "
          />
          <template v-for="dt of otherDates" :key="dt">
            <Markdown
              :source="
                $t('tours.dates', {
                  dateFrom: dt,
                })
              "
            />
          </template>
        </div>
      </div>
      <div
        class="shrink-0 flex align-items-center justify-content-center gap-2"
      >
        <div
          class="text-xl ml-1 border-circle p-2 text-white bg-indigo-900 mt-1 hover:bg-indigo-800 cursor-pointer flex align-items-center justify-content-center"
          @click="goToPreviousTour"
        >
          <IconLeft />
        </div>
        <div
          class="text-xl ml-1 border-circle p-2 text-white bg-indigo-900 mt-1 hover:bg-indigo-800 cursor-pointer flex align-items-center justify-content-center"
          @click="goToNextTour"
        >
          <IconRight />
        </div>
      </div>
    </div>
    <div class="info-card p-2 px-3">
      <p class="m-0 text-left">{{ $t("tours.newitems") }}</p>
      <div class="p-0">
        <div
          style="
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            width: -moz-available; /* WebKit-based browsers will ignore this. */
            width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
            width: fill-available;
          "
          class="p-0"
        >
          <div class="flex" :style="`width: calc(82px * ${nbNewItems})`">
            <template v-for="typeIt of newItems" :key="typeIt.type">
              <template
                v-for="it of typeIt.list"
                :key="typeIt.type + '_' + it.id"
              >
                <ItemCard
                  :type="typeIt.type"
                  :item="it"
                  class="m-0 sm:m-1"
                  style="width: 80px"
                  small
                />
              </template>
            </template>
          </div>
        </div>
      </div>
    </div>
    <TabView
      :scrollable="true"
      @tab-click="goToSpecial"
      v-model:activeIndex="currentBlockIdx"
      class="pb-4 main-tabview"
    >
      <TabPanel>
        <template #header>
          <div
            class="px-4 py-2 flex align-items-center justify-content-center"
            style="min-height: 50px"
          >
            <img
              alt=""
              style="max-width: 32px; max-height: 32px"
              data-src="/StarOn00.png"
              src="/StarOn00.png"
              lazy="loaded"
            />
            <div class="ml-2">{{ $t("global.cups") }}</div>
          </div>
        </template>
      </TabPanel>
      <TabPanel>
        <template #header>
          <div
            class="px-4 py-2 flex align-items-center justify-content-center"
            style="min-height: 50px"
          >
            <img
              alt=""
              style="max-width: 32px; max-height: 32px"
              data-src="/MenuDriver00.png"
              src="/MenuDriver00.png"
              lazy="loaded"
            />
            <div class="ml-2">{{ $itt("drivers", "cup_mostusefull") }}</div>
          </div>
        </template>
      </TabPanel>
      <TabPanel>
        <template #header>
          <div
            class="px-4 py-2 flex align-items-center justify-content-center"
            style="min-height: 50px"
          >
            <img
              alt=""
              style="max-width: 32px; max-height: 32px"
              data-src="/MenuMachine00.png"
              src="/MenuMachine00.png"
              lazy="loaded"
            />
            <div class="ml-2">{{ $itt("karts", "cup_mostusefull") }}</div>
          </div>
        </template>
      </TabPanel>
      <TabPanel
        ><template #header>
          <div
            class="px-4 py-2 flex align-items-center justify-content-center"
            style="min-height: 50px"
          >
            <img
              alt=""
              style="max-width: 32px; max-height: 32px"
              data-src="/MenuGlide00.png"
              src="/MenuGlide00.png"
              lazy="loaded"
            />
            <div class="ml-2">{{ $itt("gliders", "cup_mostusefull") }}</div>
          </div>
        </template>
      </TabPanel>
    </TabView>
    <div v-if="currentBlockIdx === 0">
      <TabView
        :scrollable="true"
        @tab-click="goToCup"
        v-model:activeIndex="currentCupIdx"
      >
        <template v-for="(c, idx) of cups">
          <TabPanel>
            <template #header>
              <div
                style="width: 80px"
                :class="{ week1: c.rk == 1, week2: c.rk == 2 }"
              >
                <img
                  :src="
                    '/cups/list/cups/' +
                    props.item?.id +
                    '-cups-' +
                    idx +
                    '.webp'
                  "
                  width="80"
                  class="mr-2"
                />
              </div>
            </template>
          </TabPanel>
        </template>
      </TabView>
      <div v-if="currentCup">
        <div class="info-card first">
          <div class="flex align-items-center mb-4">
            <img
              v-lazy="
                '/cups/list/cups/' +
                props.item?.id +
                '-cups-' +
                currentCupIdx +
                '.webp'
              "
              width="60"
              class="mr-2"
            />
            <div>
              <strong>{{ currentCup.n }}</strong>
              <div v-if="currentCup.rk">
                {{ $t("tours.cups.week" + currentCup.rk) }}
              </div>
            </div>
          </div>
          <div v-for="(cc, ci) of currentCup.courses" class="info-card mb-4">
            <div>
              {{ mktt("courses", cc.id) }}
            </div>
            <div class="flex flex-wrap">
              <div class="mr-2 mt-2">
                <img
                  v-lazy="
                    '/cups/list/cups/' +
                    props.item?.id +
                    '-cups-' +
                    currentCupIdx +
                    '-courses-' +
                    ci +
                    '.webp'
                  "
                  width="150"
                  style="border-radius: 5px"
                />
                <!--<CalculTarget
                :course="cc"
                :driver="cc.itemObjects?.drivers && cc.itemObjects?.drivers[0]"
                :kart="cc.itemObjects?.karts && cc.itemObjects?.karts[0]"
                :glider="cc.itemObjects?.gliders && cc.itemObjects?.gliders[0]"
              />-->
              </div>
              <div class="mt-2 mr-2" style="max-width: calc(100% - 170px)">
                <!--<div class="mb-2">{{ $t("tours.cups.bestitems") }}</div>-->
                <div
                  v-if="
                    cc.itemObjects?.drivers && cc.itemObjects.drivers.length > 0
                  "
                  style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
                  class="p-0"
                >
                  <div
                    class="flex"
                    :style="`width: calc(80px * ${cc.itemObjects?.drivers.length})`"
                  >
                    <template v-for="d of cc.itemObjects?.drivers" :key="d.id">
                      <ItemCard
                        type="drivers"
                        :item="d"
                        small
                        class="m-1"
                        style="width: 75px"
                      />
                    </template>
                  </div>
                </div>
                <div
                  v-if="
                    cc.itemObjects?.karts && cc.itemObjects.karts.length > 0
                  "
                  style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
                  class="p-0"
                >
                  <div
                    class="flex"
                    :style="`width: calc(80px * ${cc.itemObjects?.karts.length})`"
                  >
                    <template v-for="k of cc.itemObjects?.karts" :key="k.id">
                      <ItemCard
                        type="karts"
                        :item="k"
                        small
                        class="m-1"
                        style="width: 75px"
                      />
                    </template>
                  </div>
                </div>
                <div
                  v-if="
                    cc.itemObjects?.gliders && cc.itemObjects.gliders.length > 0
                  "
                  style="overflow-x: auto; overflow-y: hidden; max-width: 100%"
                  class="p-0"
                >
                  <div
                    class="flex"
                    :style="`width: calc(80px * ${cc.itemObjects?.gliders.length})`"
                  >
                    <template v-for="g of cc.itemObjects?.gliders" :key="g.id">
                      <ItemCard
                        type="gliders"
                        :item="g"
                        small
                        class="m-1"
                        style="width: 75px"
                      />
                    </template>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <!--<div class="mb-2">
                {{ $t("tours.cups.scores") }}
              </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="currentBlockIdx === 1">
      <BestItems :tour="item" type="drivers" />
    </div>
    <div v-if="currentBlockIdx === 2">
      <BestItems :tour="item" type="karts" />
    </div>
    <div v-if="currentBlockIdx === 3">
      <BestItems :tour="item" type="gliders" />
    </div>
  </div>
</template>
<script setup>
import { computed, reactive } from "vue";
import moment from "moment/min/moment-with-locales.js";
import { useI18n } from "vue-i18n";
import { sortItems } from "../helpers/ItemsHelper";

const { t, locale, locales } = useI18n();
const { mktt } = useMKTi18n();

const dbContext = useDb();
const { collection } = useCollection();

const props = defineProps({
  item: {
    type: Object,
    default: null,
  },
  cupName: {
    type: String,
  },
});

const router = useRouter();

const goToCup = ($event) => {
  router.push(
    "/tours/" +
      dbContext.slugify(props.item?.n) +
      "/" +
      dbContext.slugify(props.item?.c[$event.index].n)
  );
};

const goToNextTour = () => {
  let nid = props.item?.id + 1;
  if (nid > 105) nid = 80;
  let ntour = dbContext.db.cups.list.find((c) => c.id == nid);
  router.push("/tours/" + dbContext.slugify(ntour?.n));
};
const goToPreviousTour = () => {
  let nid = props.item?.id - 1;
  if (nid < 0) nid = 0;
  let ntour = dbContext.db.cups.list.find((c) => c.id == nid);
  router.push("/tours/" + dbContext.slugify(ntour?.n));
};

const SPECIAL_ROUTES = {
  CUPS: { tab: 0, route: "cups" },
  USEFUL_DRIVERS: { tab: 1, route: "most_used_drivers" },
  USEFUL_KARTS: { tab: 2, route: "most_used_karts" },
  USEFUL_GLIDERS: { tab: 3, route: "most_used_gliders" },
};

const goToSpecial = ($event) => {
  let spec_key = Object.keys(SPECIAL_ROUTES).find(
    (k) => SPECIAL_ROUTES[k].tab === $event.index
  );
  if (spec_key) {
    let spec = SPECIAL_ROUTES[spec_key];

    if (spec.route === "cups") {
      goToCup({ index: 0 });
    } else {
      let rte = "/tours/" + dbContext.slugify(props.item?.n) + "/" + spec.route;
      if (localStorage["kamekbook_mostused_filter"] == 2) {
        rte += "?rk=1";
      }
      router.push(rte);
    }
  }
};

const itemImage = computed(() => {
  return "/cups/list/cover/" + props.item?.id + ".webp";
});

const dateFrom = computed(() => {
  moment.locale(locale.value);
  return moment(props.item?.s).add("hours", 3).format("LL");
});

const otherDates = computed(() => {
  moment.locale(locale.value);
  let nbToursSince = dbContext.nbTours - props.item?.id;
  if (nbToursSince <= 26) {
    return [1, 2].map((year_plus) => {
      return moment(props.item?.s)
        .add("hours", 24)
        .add(26 * 2 * year_plus, "weeks")
        .format("LL");
    });
  }
  return [];
});

const typeById = {
  drivers: "driversById",
  karts: "kartsById",
  gliders: "glidersById",
};

const newItems = computed(() => {
  return ["drivers", "karts", "gliders"].map((type) => {
    return {
      type,
      list: dbContext[type]
        .filter((it) => it.t === props.item?.id)
        .map((it) => {
          return {
            ...it,
            collect:
              collection[typeById[type]] && collection[typeById[type]][it.id],
          };
        }),
    };
  });
});
const nbNewItems = computed(() => {
  return (
    newItems.value &&
    newItems.value.reduce((acc, itType) => acc + (itType.list?.length || 0), 0)
  );
});

const propsItems = [
  {
    prop: "drivers",
    byid: "driversById",
    dbKey: "d",
    itemGetter: dbContext.getDriverById,
  },
  {
    prop: "karts",
    byid: "kartsById",
    dbKey: "k",
    itemGetter: dbContext.getKartById,
  },
  {
    prop: "gliders",
    byid: "glidersById",
    dbKey: "g",
    itemGetter: dbContext.getGliderById,
  },
];

const cups = computed(() => {
  return props.item?.c;
});

const currentBlockIdx = ref(0);

const currentCupIdx = computed(() => {
  if (props.cupName) {
    for (let k of Object.keys(SPECIAL_ROUTES)) {
      if (props.cupName === SPECIAL_ROUTES[k].route) {
        currentBlockIdx.value = SPECIAL_ROUTES[k].tab;
      }
    }
    return cups.value.findIndex((c) => dbContext.slugify(c.n) == props.cupName);
  }
  return -1;
});

const currentCup = computed(() => {
  if (props.cupName) {
    let cup = cups.value.find((c) => dbContext.slugify(c.n) == props.cupName);
    if (cup) {
      return {
        ...cup,
        courses: cup.c.map((cc, courseIdx) => {
          let course = dbContext.getCourseById(cc),
            courseCol = collection.courses[course.id];
          const itemObjects = {};

          const currentRups = props.item?.up?.filter(
            (upp) =>
              upp.ref === currentCupIdx.value ||
              (courseIdx === 0 && upp.ref === "f") ||
              (courseIdx === 1 && upp.ref === "s") ||
              (courseIdx === 2 && upp.ref === "t")
          );

          for (let def of propsItems) {
            // list of uped items
            const currentRup = currentRups.flatMap((rup) => rup[def.dbKey]);

            let allds = course.p[def.dbKey];
            allds = allds.map((itemId) => {
              return {
                ...def.itemGetter(itemId),
                collect:
                  courseCol &&
                  courseCol[def.dbKey]?.list?.find(
                    (subitem) => subitem.id === itemId
                  ),
              };
            });
            // add secondadry drivers with condition
            course.p2[def.dbKey]?.forEach((itemId) => {
              let realId = itemId;
              if (Array.isArray(itemId)) {
                allds.push({
                  ...def.itemGetter(itemId[0]),
                  collect:
                    courseCol &&
                    courseCol[def.dbKey]?.list?.find(
                      (subitem) => subitem.id === itemId[0]
                    ),
                  fromLevel: itemId[1],
                });
                realId = itemId[0];
              }
              // add uped items with condition
              // only for cups up items because now no new items are uped for first / second / third course. -> YES THERE IS (Miis for first courses) -> Fix it -> DONE
              // for old tours, some items may be missing

              if (currentRup.includes(realId)) {
                //console.log("Uped item", realId);
                allds.push({
                  ...def.itemGetter(realId),
                  collect: collection[def.byid] && collection[def.byid][itemId],
                });
              }
            });

            // find doubled entries in rup
            let seen = [],
              doubles = [];
            currentRup.forEach((id) => {
              if (seen.includes(id)) doubles.push(id);
              else seen.push(id);
            });
            if (doubles.length > 0) {
              // items have been promoted from no pref
              doubles.forEach((itemId) => {
                allds.push({
                  ...def.itemGetter(itemId),
                  collect: collection[def.byid] && collection[def.byid][itemId],
                });
              });
            }

            allds = allds.filter((ds) => ds.id != null);
            allds.sort(sortItems(collection));
            itemObjects[def.prop] = allds;
          }
          return {
            ...course,
            name: [course.c, course.n, course.t === "N" ? null : course.t]
              .filter(Boolean)
              .join(" "),
            collect: courseCol,
            itemObjects,
          };
        }),
      };
    }
  }
});
</script>
<style>
.main-tabview.p-tabview .p-tabview-nav,
.main-tabview.p-tabmenu .p-tabmenu-nav {
  border: 2px !important;
}
</style>
