<template>
  <div class="mkt-t-card relative" @click="selectItem">
    <img class="mkt-tour" v-lazy="tourImage" />
    <div class="mkt-name absolute left-0">
      {{ tourName }}
    </div>
  </div>
</template>
<script setup>
import { computed } from "vue";
const { mktt } = useMKTi18n();

const props = defineProps({
  type: {
    type: String,
    default: null,
  },
  tour: {
    type: Object,
    default: null,
  },
});

const tourImage = computed(() => {
  return "/cups/list/cover/" + props.tour?.id + ".webp";
});

const tourName = computed(() => {
  return mktt("tours", props.tour.id) || props.tour?.n;
});

const emit = defineEmits(["select"]);
const selectItem = () => {
  console.log(props.tour?.id);
  emit("select", props.tour);
};
</script>
<style scoped>
.mkt-t-card {
  /*filter: grayscale(75%);*/
  cursor: pointer;
  transition: all 0.25s;
}
.mkt-t-card:hover {
  transform: scale(1.025);
}
.mkt-tour {
  vertical-align: middle;
}
.mkt-name {
  width: 100%;
  text-align: center;
  background-color: var(--mkt-ground);
  color: white;
  padding: 10px 5px;
  opacity: 0%;
  transition: all 0.25s;
  top: 50%;
  transform: translateY(-50%);
}
.mkt-t-card:hover .mkt-name {
  opacity: 80%;
}
</style>
