@import url('https://fonts.googleapis.com/css?family=Mulish:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

html,
body,
#__nuxt {
  margin: 0;
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
}

:root {
  --background: #383e48;
  --background-highlight: #262C38;
  --main-color: #282960;
  --main-color-light-4: #6366f1;
  --main-color-light-3: #5457cd;
  --main-color-light-2: #4547a9;
  --main-color-light-1: #363885;
  --table-main: #36404f;
  --table-secondary: #2a3340;

  --main-text-secondary: #818ba2;
  --main-text-highlight: #777BF1;
  --main-button-color: #777BF1;
  
  /* tabs */
  --main-bg-dark: #1d212b;
  --main-bg-tab-active: #777bf1;
  --main-bg-tab-inactive: #33396c;

  --mkt-ground: #373E49;
  --mkt-border: #272c37;
  --mkt-section: #383e48;
}

.mkt-ground {
  background: var(--mkt-ground);
}
.mkt-border {
  border-color: var(--mkt-border);
}
.mkt-section {
  background: var(--mkt-section);
}
@font-face {
  font-family: "mkt";
  src: url('/fonts/republica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.mkt-level,
.mkt-points, .mkt-grade, .mkt-rank {
  font-family: "mkt";
  -webkit-text-stroke: 1.5px #000;
  font-weight: 400;
  line-height: 1;
}
.mkt-level.no-border,
.mkt-points.no-border {
  -webkit-text-stroke: 0;
}
.mkt-rank {
  background: #e8d080;
  background: linear-gradient(to bottom, #e8d080 0%, #fcc307 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px #181300;
}
.mkt-level {
  background: #ccf130;
  background: linear-gradient(to bottom, #ccf130 0%, #67eb01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mkt-level.from {
  background: #30f1eb;
  background: linear-gradient(to bottom, #30f1eb 0%, #0153eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mkt-level.utility {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mkt-points {
  background: #f4d146;
  background: linear-gradient(to bottom, #f4d146 0%, #f06a04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mkt-grade {
  background: #ccf130;
  background: linear-gradient(to bottom, #ccf130 0%, #67eb01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mkt-grade.average {
  background: linear-gradient(to bottom, #f1b730 0%, #d09202 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mkt-grade.minus {
  background: linear-gradient(to bottom, #f13030 0%, #cf0101 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mkt-grade.disabled {
  background: linear-gradient(to bottom, #e3e3e3 0%, #8a8a8a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mkt-grade.weight {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  /*background-image: url('/back.png');
  background-position: center;
  background-repeat: repeat;*/
  background-color: var(--background);
}

.bg-top-menu {
  background-color: #2a303e;
}

.lola-card {
  background-color: var(--background-highlight);
  padding: 20px;
  border-radius: 10px;
}
.lola-card form {
  padding-top: 20px;
}
.lola-secondary-text {
  color: var(--main-text-secondary);
}

.p-dropdown,
.p-inputtext,
.p-dropdown-panel {
  background-color: #373e49;
  border-color: #576070;
}
.p-checkbox .p-checkbox-box {
  border: 2px solid #576070;
  background: #373e49;
}
.field {
  margin-bottom: 2rem;
}
.primary {
  background-color: var(--main-bg-color);
}
.primary-light {
  background-color: var(--main-bg-color-light);
}

img {
  max-width: 100%;
}

a,
a:visited {
  color: inherit;
}

.status-admin {
  background: #cf396c;
  color: #ffffff;
}
.status-assistant {
  background: #bf802f;
  color: #ffffff;
}
.status-trainer {
  background: #7446d3;
  color: #ffffff;
}
.status-commercial {
  background: #448697;
  color: #ffffff;
}

.client-status-10 {
  background: #4f4f4f;
  color: #ffffff;
}
.client-status-20 {
  background: #bf802f;
  color: #ffffff;
}
.client-status-30 {
  background: #448697;
  color: #ffffff;
}
.client-status-40 {
  background: #7446d3;
  color: #ffffff;
}

/** Tabs */
.p-tabview .p-tabview-nav, .p-tabmenu .p-tabmenu-nav  {
  background: var(--background-highlight);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border:0;
  padding: 0px 0px;
  padding-bottom: 0;
}
.p-tabview .p-tabview-nav-btn.p-link.p-tabview-nav-prev {
  border-top-left-radius: 5px;
}
.p-tabview .p-tabview-nav-btn.p-link.p-tabview-nav-next {
  border-top-right-radius: 5px;
}
.p-tabview .p-tabview-nav li, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  margin-right: 4px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: var(--main-bg-tab-active);
  color: white;
  margin-bottom:-10px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 0px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link > div {
  padding: 10px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link .week1 {
  background-color: #FFCA28;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link .week2 {
  background-color: #FFAB00;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: 0;
  margin: 0;
}
.p-tabview .p-tabview-panels, .p-tabmenu .p-tabmenu-panels {
  padding: 0;
}

/** Table */
.p-datatable table {
  border-collapse: separate !important;
  border-spacing: 0 7px;
}
.p-datatable .p-datatable-tbody > tr {
  background-color: transparent;
}
.p-datatable thead {
  display: none;
}
.p-datatable tbody tr td {
  margin-bottom: 5px;
  background-color: var(--table-main);
  padding: 0.7rem 1rem;
}
.p-datatable tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--table-secondary);
}
.p-datatable tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.p-datatable .p-paginator {
  background-color: transparent;
  border: none;
}
.p-button.p-button-icon-only.p-button-rounded {
  height: 2rem;
  width: 2rem;
}

/** Switch */
.field-switch {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
.field-switch label {
  margin-left: 10px;
  vertical-align: middle;
}

/** Selectable table */
.selectable-table tr {
  cursor: pointer;
}
.selectable-table tr.disabled {
  cursor: not-allowed;
}
.selectable-table .p-datatable-tbody > tr:hover td {
  background-color: var(--main-bg-tab-active);
  transition: all 0.5s;
}
.selectable-table .p-datatable-tbody > tr:hover td .lola-secondary-text {
  color: white;
}
.selectable-table .p-datatable-tbody > tr:hover td .lola-progress .p-progressbar {
  border-color: white;
}
/** Buttons */
.p-button {
  color: #ffffff;
  background: var(--main-button-color);
  border: var(--main-button-color);
}

/** Dialog */
.p-dialog .p-dialog-header, .p-dialog .p-dialog-content, .p-tabview .p-tabview-panels {
  background: var(--mkt-ground);
}

.p-tooltip, .p-overlaypanel, .p-menu, .p-tieredmenu {
  z-index: 10000
}

/** Dense menu */
.p-menu.p-menu-overlay, .p-tieredmenu.p-tieredmenu-overlay {
  background-color: var(--blue-800)
}
.p-menu  .p-submenu-header {
  background-color: var(--blue-600);
}

.p-menu .p-menuitem a {
  padding-top: 8px;
  padding-bottom: 8px;
}

/** Details */
.info-card {
  background-color: var(--gray-500);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  border-radius: 5px;
}
.info-card.first {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.info-card .info-card, .info-card.dark {
  background-color: var(--gray-700);
  width: auto;
}
.info-card.noback {
  background: transparent;
}
/** Accordions */
.p-accordion {

}
.p-accordion-header {
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: var(--gray-500);
  border: none;
  padding: 0 20px;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background-color: var(--gray-500);
}
.p-accordion .p-accordion-content {
  background-color: var(--gray-500);
  padding: 0;
  border: none;
}
.p-accordion .p-accordion-tab{
  margin-bottom: 20px;
}

/** Messages */
.p-message.small-message {
  margin: 0.25rem 0;
}
.p-message.small-message .p-message-wrapper
 {
padding: 0
}
.p-message.small-message .p-message-icon {
  font-size: 1rem;
}
.p-inline-message.small-message {
  padding: 0.25rem 0.75rem;
}

.p-message.small-message .p-message-text {
  font-size: .85rem;
}

/** tier list mobile */
.p-tieredmenu .p-submenu-list {
  position: inherit;
}
.p-tieredmenu .p-menuitem-active > .p-submenu-list {
  left: -100%;
}
@media (min-width: 990px) {
  .p-tieredmenu .p-submenu-list {
    position: absolute;
  }
  .p-tieredmenu .p-menuitem-active > .p-submenu-list {
    left: 100%;
  }
}

.p-scrollpanel-content > div::after {
  content: "";
  height: calc(max(100vh, 100% + 10px));
  width: 10px;
  margin-right: -15px;
  position:absolute;
  right: 0px;
  opacity: 0.5;
  z-index:10;
  top: 0px;
  background-color: var(--blue-900);
}

/** Grades table */
table.stats-grades {
  margin: 0;
  border-spacing: 0;
}
table.stats-grades td,
table.stats-grades th {
  padding: 5px 10px;
}
table.stats-grades tr.even td {
  background: var(--gray-600);
}
table.stats-grades tr .total {
  background: var(--yellow-400);
}
table.stats-grades tr.even td.total {
  background: var(--yellow-600);
}