<template>
  <div class="text-center text-white text-xl p-0 pt-4 sm:p-5 sm:pr-2">
    {{ $itt(props.type, "select") }}
    <br />
    {{ $itt(props.type, "addtocollection") }}
    <ItemStat type="karts" class="m-auto mt-4" withStats></ItemStat>
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { $itt } = useNuxtApp();

const props = defineProps({
  type: {
    type: String,
    default: "drivers",
  },
});
useHead({
  title: $itt("karts", "page") + " - " + t("global.app"),
});
</script>
