<template>
  <div class="min-h-screen flex relative lg:static mkt-ground">
    <div
      id="menubar"
      class="h-full lg:h-auto hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-2 mkt-ground w-auto"
    >
      <div class="flex h-full">
        <div
          class="flex flex-column h-full flex-shrink-0 select-none"
          style="z-index: 10"
        >
          <div
            class="flex align-items-center justify-content-center flex-shrink-0 px-2"
            style="height: 60px"
          >
            <a
              v-ripple
              class="cursor-pointer p-ripple"
              @click="router.push('/')"
            >
              <img v-lazy="'/SkillIcon_Item.png'" alt="Logo" height="40" />
            </a>
          </div>
          <div class="overflow-y-auto mt-3">
            <ul class="list-none py-3 pl-2 pr-0 m-0">
              <li class="mb-2" v-for="m in menu" :key="m.id" v-tooltip="">
                <a
                  v-ripple
                  class="flex align-items-center cursor-pointer my-2 py-2 px-2 pr-2 justify-content-center hover:bg-blue-400 text-blue-100 hover:text-blue-50 transition-duration-150 transition-colors p-ripple"
                  @click="goTo(m)"
                  :class="{ 'bg-blue-600': activeTab === m.id }"
                  style="
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    height: 60px;
                  "
                >
                  <img
                    v-lazy="m.image"
                    alt=""
                    style="max-width: 40px; max-height: 40px"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      id="menulist"
      class="h-full lg:h-auto hidden lg:block flex-shrink-0 absolute lg:static left-0 z-1 border-right-1 mkt-border w-auto"
      :class="{
        forcehidden: props.noList,
        'small-list': smallList,
        'hide-list': hideList,
      }"
      v-styleclass="{
        selector: '#menulist',
        hideOnOutsideClick: true,
      }"
    >
      <ScrollPanel class="bg-blue-600 flex-shrink-0 scrolllist">
        <slot name="submenu"> </slot>
      </ScrollPanel>
    </div>

    <div class="min-h-screen flex flex-column relative flex-auto z-0">
      <div
        class="flex justify-content-between lg:justify-content-start align-items-center px-3 bg-top-menu relative lg:static scrollpage"
        style="height: 60px"
        :class="{
          noList: props.noList,
          'small-list': smallList,
          'hide-list': hideList,
        }"
      >
        <div class="flex align-items-center justify-content-center">
          <a
            v-ripple
            class="cursor-pointer block lg:hidden text-700 mr-3 mt-1 p-ripple"
            v-styleclass="{
              selector: '#menubar',
              enterClass: 'hidden',
              enterActiveClass: 'fadeinleft',
              leaveToClass: 'hidden',
              leaveActiveClass: 'fadeoutleft',
              hideOnOutsideClick: true,
            }"
          >
            <i class="pi pi-bars text-4xl"></i>
          </a>
          <a
            v-if="currentMenu"
            v-ripple
            class="cursor-pointer block lg:hidden text-700 mr-3 mt-1 p-ripple"
            v-styleclass="{
              selector: '#menulist',
              enterClass: 'hidden',
              enterActiveClass: 'fadeinleft',
              leaveToClass: 'hidden',
              leaveActiveClass: 'fadeoutleft',
            }"
          >
            <img
              v-lazy="currentMenu.image"
              alt=""
              style="max-width: 40px; max-height: 40px"
            />
          </a>
        </div>
        <div class="text-xl text-white">{{ $t("global.app") }}</div>
        <div
          class="text-right flex-grow-1 flex align-items-center justify-content-end"
          style=""
        >
          <Button
            icon="pi pi-twitter"
            class="p-button-rounded mr-2 p-button-text"
            @click="goTo({ url: 'https://twitter.com/kamekbook' })"
            v-tooltip.left="$t('global.twitter')"
          ></Button>
          <Button
            icon="pi pi-heart-fill"
            class="p-button-rounded mr-2 p-button-text"
            @click="goTo({ url: 'https://www.patreon.com/kamekbook' })"
            v-tooltip.left="$t('global.patreon')"
          ></Button>
          <Button
            icon="pi pi-question-circle"
            class="p-button-rounded mr-2 p-button-text"
            @click="goTo({ path: '/getstarted' })"
            v-tooltip.left="$t('help.general')"
          ></Button>
          <LangSwitcher />
        </div>
      </div>
      <div class="flex flex-column flex-auto">
        <div
          class="border-round mkt-border mkt-section flex-auto p-scrollable relative"
        >
          <ScrollPanel
            class="scrollpage"
            :class="{
              noList: props.noList,
              'small-list': smallList,
              'hide-list': hideList,
            }"
          >
            <slot></slot>
            <div class="text-normal text-center text-white mb-4">
              {{ $t("global.copyright") }}
            </div>
          </ScrollPanel>
        </div>
      </div>
    </div>
    <PageLoading ref="loading" />
  </div>
</template>

<script setup>
import { reactive, ref, onMounted, computed } from "vue";

const { initMkti18n } = useMKTi18n();
const { loadCollection } = useCollection();
const { loadDbGrades, db } = useDb();

onMounted(() => {
  // -> TRIED -> 30Mo !!
  /*let res = {};
  ["cups", "nbMiis", "preferred", "stats_courses"].forEach((k) => {
    try {
      res[k] = JSON.parse(JSON.stringify(db[k]));
    } catch (e) {
      console.log("Error with ", k);
    }
  });
  ["drivers", "gliders", "karts"].forEach((k) => {
    try {
      res[k] = {
        list: JSON.parse(
          JSON.stringify(
            db[k].list.map((el) => {
              delete el.grades;
              return el;
            })
          )
        ),
      };
    } catch (e) {
      console.log("Error with ", k);
    }
  });
  console.log(JSON.stringify(res));*/

  loadDbGrades();
  loadCollection();
  initMkti18n();
});

const props = defineProps({
  noList: Boolean,
  smallList: Boolean,
  hideList: Boolean,
});
const menu = ref([
  {
    id: "tours",
    image: "/StarOn00.png",
    path: "/tours/",
  },
  {
    id: "drivers",
    image: "/MenuDriver00.png",
    path: "/drivers/",
  },
  {
    id: "karts",
    image: "/MenuMachine00.png",
    path: "/karts/",
  },
  {
    id: "gliders",
    image: "/MenuGlide00.png",
    path: "/gliders/",
  },
  {
    id: "courses",
    image: "/SkillIcon_Course.png",
    path: "/courses/",
  },
  {
    id: "settings",
    image: "/MenuSetting00.png",
    path: "/settings/",
  },
]);

const goTo = (menu) => {
  if (!menu) return;
  if (menu.path) {
    router.push(menu.path);
  } else if (menu.url) {
    window.open(menu.url, "_blank");
  }
};

const activeTab = computed(() => {
  let curmenu = menu.value.find((m) => route.path.indexOf(m.path) >= 0);
  return curmenu?.id;
});

const route = useRoute();
const router = useRouter();

const currentMenu = computed(() => {
  return menu.value.find((m) => m.id === activeTab.value);
});

const loading = ref();

const nuxtApp = useNuxtApp();

nuxtApp.hook("page:start", () => {
  loading.value?.start();
});

nuxtApp.hook("page:finish", () => {
  loading.value?.finish();
  window.scrollTo(0, 0);
});
</script>
<style>
.slide-leave-active,
.slide-enter-active {
  transition: 250ms;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

#menulist {
  top: 60px;
  width: 711px;
  max-width: calc(min(100%, max(30vw, 450px)));
}
#menulist.small-list {
  top: 60px;
  width: 711px;
  max-width: calc(min(100%, 420px));
}
#menulist.hide-list {
  top: 60px;
  width: 711px;
  max-width: calc(min(100%, 120px));
}
.scrolllist {
  height: calc(100vh - 60px);
  width: 711px;
  max-width: calc(min(100%, max(30vw, 450px)));
}
.small-list .scrolllist {
  max-width: calc(min(100%, 420px));
}
.hide-list .scrolllist {
  max-width: calc(min(100%, 120px));
}
@media (min-width: 990px) {
  .scrolllist {
    height: calc(100vh);
  }
}

.scrollpage {
  height: calc(100vh - 60px);
  width: calc(100vw);
  overflow: hidden;
}
@media (min-width: 990px) {
  .scrollpage {
    width: calc(100vw - 60px);
  }
  .scrollpage:not(.noList) {
    max-width: calc(100vw - min(100%, max(30vw, 450px)) - 60px);
  }
  .scrollpage.small-list:not(.noList) {
    max-width: calc(100vw - min(100%, 420px) - 60px);
  }
  .scrollpage.hide-list:not(.noList) {
    max-width: calc(100vw - min(100%, 120px) - 60px);
  }
}
.forcehidden {
  display: none !important;
}
</style>
