<template>
  <ItemPage
    :type="type"
    :objects-path="objectsPath"
    :objects-property="objectsProperty"
    :objects-extension="objectsExtension"
    :filters="filters"
    :cur-item="curItem"
  >
  </ItemPage>
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { $itt } = useNuxtApp();
const { mktt } = useMKTi18n();

const props = defineProps({
  type: {
    type: String,
    default: "drivers",
  },
  objectsPath: {
    type: String,
    default: null,
  },
  objectsProperty: {
    type: String,
    default: null,
  },
  objectsExtension: {
    type: String,
    default: "webp",
  },
  filters: {
    type: Array,
    default: () => [],
  },
  curItem: {
    type: Object,
    default: null,
  },
});
useHead({
  title:
    (mktt("gliders", props.curItem?.id) ||
      props.curItem?.n ||
      $itt("gliders", "page")) +
    " - " +
    t("global.app"),
});
</script>
