<template>
  <NuxtLayout name="list">
    <template #submenu>
      <CoursesList :current-course="currentCourse" />
    </template>
    <NuxtChild :current-course="currentCourse" />
  </NuxtLayout>
</template>
<script setup>
const route = useRoute();
const currentCourseName = computed(() => route.params?.name);

const { getCourseBySlug } = useDb();

const currentCourse = computed(() => {
  let d = getCourseBySlug(currentCourseName.value);
  if (d) {
    return {
      ...d,
    };
  }
});
</script>
