<template>
  <NuxtLayout name="list">
    <template #submenu>
      <ItemList type="drivers" :filters="filters" :cur-item="currentDriver">
      </ItemList>
    </template>
    <NuxtChild
      type="drivers"
      objects-path="/drivers/skills/icon/"
      objects-property="s"
      :objects-name-getter="getDriverObjectName"
      :filters="filters"
      :cur-item="currentDriver"
    />
  </NuxtLayout>
</template>
<script setup>
import { computed } from "vue";
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { collection } = useCollection();
const { db } = useDb();
const { $itt } = useNuxtApp();
const { mktt } = useMKTi18n();

const { getDriverObjectsList, getDriverObjectName, getDriverBySlug, slugify } =
  useDb();

const route = useRoute();
const currentDriverName = computed(() => route.params?.name);

const currentDriver = computed(() => {
  let d = getDriverBySlug(currentDriverName.value);
  if (d) {
    return {
      ...d,
      collect: collection.driversById && collection.driversById[d.id],
    };
  }
});

const driverLocalizedNames = computed(() => {
  let res = {};
  db.drivers.list.forEach((d) => {
    res[d.id] = mktt("drivers", d.id);
    if (!res[d.id]) {
      //console.log("No translation for", d.id);
      res[d.id] = "";
    } else {
      res[d.id] = res[d.id].toLowerCase();
    }
  });
  return res;
});
const filters = ref([
  {
    label: $itt("drivers", "filters.name"),
    type: "input",
    filter: (name, d) => {
      if (name && name.trim() !== "") {
        return (
          driverLocalizedNames.value[d.id].indexOf(name.toLowerCase()) >= 0
        );
      } else {
        return true;
      }
    },
  },
  {
    label: $itt("drivers", "filters.object"),
    list: getDriverObjectsList().map((o) => {
      return {
        ...o,
        image: "/drivers/skills/icon/" + o.value + ".webp",
      };
    }),
    multiple: true,
    filter: (list, d) => {
      return list.length > 0 ? list.includes(d.s) : true;
    },
    imageSize: 24,
  },
  {
    label: t("global.filtercollect"),
    list: [
      { label: t("global.filtercollectoptions.own"), value: 1 },
      { label: t("global.filtercollectoptions.dontown"), value: 2 },
    ],
    multiple: false,
    filter: (value, d) => {
      return value?.value
        ? value.value === 1
          ? d.collect?.l
          : !d.collect?.l
        : true;
    },
  },
]);
</script>
