<template>
  <NuxtLayout name="list" :no-list="true" class="text-white">
    <div class="px-0 lg:px-4 m-auto" style="max-width: 1024px">
      <template v-for="(r, i) of rubrics">
        <div class="info-card text-normal" :class="{ first: i === 0 }">
          <h1 class="text-xl">{{ $t("help." + r) }}</h1>
          <Markdown :source="$t('help.' + r + '_desc')" />
        </div>
      </template>
    </div>
  </NuxtLayout>
</template>
<script setup>
const rubrics = ["purpose", "start", "daily", "tips", "next", "help"];
</script>
