<template>
  <NuxtLayout name="list">
    <template #submenu>
      <ItemList type="gliders" :filters="filters" :cur-item="currentGlider">
      </ItemList>
    </template>
    <NuxtChild
      type="gliders"
      objects-path="/gliders/skills/icon/"
      objects-property="s"
      :objects-name-getter="getGliderObjectName"
      :filters="filters"
      :cur-item="currentGlider"
    />
  </NuxtLayout>
</template>
<script setup>
import { computed } from "vue";
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { collection } = useCollection();
const { db } = useDb();
const { mktt } = useMKTi18n();
const { $itt } = useNuxtApp();

const { getGliderObjectsList, getGliderObjectName, getGliderBySlug, slugify } =
  useDb();

const route = useRoute();
const currentGliderName = computed(() => route.params?.name);

const currentGlider = computed(() => {
  let g = getGliderBySlug(currentGliderName.value);
  if (g) {
    return {
      ...g,
      collect: collection.glidersById && collection.glidersById[g.id],
    };
  }
});

const gliderLocalizedNames = computed(() => {
  let res = {};
  db.gliders.list.forEach((g) => {
    res[g.id] = mktt("gliders", g.id);
    if (!res[g.id]) {
      //console.log("No translation for", d.id);
      res[g.id] = "";
    } else {
      res[g.id] = res[g.id].toLowerCase();
    }
  });
  return res;
});
const filters = ref([
  {
    label: $itt("gliders", "filters.name"),
    type: "input",
    filter: (name, d) => {
      if (name && name.trim() !== "") {
        return (
          gliderLocalizedNames.value[d.id].indexOf(name.toLowerCase()) >= 0
        );
      } else {
        return true;
      }
    },
  },
  {
    label: $itt("gliders", "filters.object"),
    list: getGliderObjectsList().map((o) => {
      return {
        ...o,
        image: "/gliders/skills/icon/" + o.value + ".webp",
      };
    }),
    multiple: true,
    filter: (list, g) => {
      return list.length > 0 ? list.includes(g.s) : true;
    },
    imageSize: 24,
  },
  {
    label: t("global.filtercollect"),
    list: [
      { label: t("global.filtercollectoptions.own"), value: 1 },
      { label: t("global.filtercollectoptions.dontown"), value: 2 },
    ],
    multiple: false,
    filter: (value, g) => {
      return value?.value
        ? value.value === 1
          ? g.collect?.l
          : !g.collect?.l
        : true;
    },
  },
]);
</script>
