<template>
  <NuxtLayout name="list" :no-list="true" class="text-white">
    <div class="p-0 sm:p-5">
      <div class="text-left text-white text-xl p-5 sm:p-0 pr-2">
        {{ $t("global.intro") }}
      </div>
      <div
        class="info-card flex gap-4 flex-wrap align-items-center justify-content-center my-5"
      >
        <ItemStat type="drivers" class=""></ItemStat>
        <ItemStat type="karts" class=""></ItemStat>
        <ItemStat type="gliders" class=""></ItemStat>
      </div>
      <div class="info-card" v-if="toursStats">
        <Chart
          class="p-1 pb-4 xl:px-4"
          type="bar"
          :data="toursStats"
          :options="chartOptionStacked"
          :style="{ height: '400px' }"
        />
      </div>
    </div>
  </NuxtLayout>
</template>
<script setup>
const { collection } = useCollection();
const { mktt } = useMKTi18n();
const { $itt } = useNuxtApp();

const stats = computed(() => {
  return collection.stats;
});

const chartOptionStacked = ref({
  maintainAspectRatio: false,
  plugins: {
    legend: {
      labels: {
        color: "#ffffff",
      },
    },
  },
  scales: {
    x: {
      stacked: true,
      ticks: {
        color: "#ffffff",
      },
      grid: {
        color: "#999999",
      },
    },
    y: {
      stacked: true,
      ticks: {
        color: "#ffffff",
        precision: 0,
      },
      grid: {
        color: "#999999",
      },
    },
  },
});
const COLOR_PER_TYPE = ["#eab308", "#14b8a6", "#22c55e"];
const toursStats = computed(() => {
  if (
    !stats.value ||
    !Object.keys(stats.value)
      ?.flatMap((k) => stats.value[k].pertours)
      .find((t) => t.total > 0)
  )
    return null;
  return {
    labels: stats.value["drivers"].pertours.map((c) => mktt("tours", c.id)),
    datasets: ["drivers", "karts", "gliders"].map((type, idx) => {
      return {
        label: $itt(type, "stats.pertours"),
        backgroundColor: COLOR_PER_TYPE[idx],
        data: stats.value[type].pertours.map((o) => o.total),
      };
    }),
  };
});
</script>
<style scoped></style>
