<template>
  <NuxtLayout name="list">
    <template #submenu>
      <ItemList type="karts" :filters="filters" :cur-item="currentKart">
      </ItemList>
    </template>
    <NuxtChild
      type="karts"
      objects-path="/karts/skills/icon/"
      objects-property="s"
      objects-extension="png"
      :objects-name-getter="getObjectName"
      :filters="filters"
      :cur-item="currentKart"
    />
  </NuxtLayout>
</template>
<script setup>
import { computed } from "vue";
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { collection } = useCollection();
const { mktt } = useMKTi18n();
const { $itt } = useNuxtApp();
const { db } = useDb();

const { getKartBySlug, slugify } = useDb();

const route = useRoute();
const currentKartName = computed(() => route.params?.name);

const currentKart = computed(() => {
  let k = getKartBySlug(currentKartName.value);
  if (k) {
    return {
      ...k,
      collect: collection.kartsById && collection.kartsById[k.id],
    };
  }
});

const getObjectName = (id) => {
  if (id === 0) {
    return t("karts.skills.dashpanel");
  } else if (id === 1) {
    return t("karts.skills.jumpboost");
  } else if (id === 2) {
    return t("karts.skills.miniturbo");
  } else if (id === 3) {
    return t("karts.skills.slipstream");
  } else if (id === 4) {
    return t("karts.skills.rocketstart");
  }
};

const kartLocalizedNames = computed(() => {
  let res = {};
  db.karts.list.forEach((k) => {
    res[k.id] = mktt("karts", k.id);
    if (!res[k.id]) {
      //console.log("No translation for", d.id);
      res[k.id] = "";
    } else {
      res[k.id] = res[k.id].toLowerCase();
    }
  });
  return res;
});
const filters = ref([
  {
    label: $itt("karts", "filters.name"),
    type: "input",
    filter: (name, d) => {
      if (name && name.trim() !== "") {
        return kartLocalizedNames.value[d.id].indexOf(name.toLowerCase()) >= 0;
      } else {
        return true;
      }
    },
  },
  {
    label: $itt("karts", "filters.object"),
    list: [0, 1, 2, 3, 4].map((id) => {
      return {
        value: id,
        label: mktt("karts_skills", id),
        image: "/karts/skills/icon/" + id + ".png",
      };
    }),
    multiple: true,
    filter: (list, k) => {
      return list.length > 0 ? list.includes(k.s) : true;
    },
    imageSize: 45,
  },
  {
    label: t("global.filtercollect"),
    list: [
      { label: t("global.filtercollectoptions.own"), value: 1 },
      { label: t("global.filtercollectoptions.dontown"), value: 2 },
    ],
    multiple: false,
    filter: (value, k) => {
      return value?.value
        ? value.value === 1
          ? k.collect?.l
          : !k.collect?.l
        : true;
    },
  },
]);
</script>
