<template>
  <NuxtLayout name="list" :no-list="true">
    <Toast />
    <div class="flex">
      <div class="text-white text-xl p-0 pt-4 sm:p-5 sm:pr-2 flex-grow-1">
        <h2 class="text-lg">{{ $t("settings.export") }}</h2>
        <Button @click="exportCollection" class="mb-4">
          {{ $t("global.export") }}
        </Button>
        <FileUpload
          mode="basic"
          name="loadfile"
          :auto="true"
          :chooseLabel="$t('global.import')"
          :customUpload="true"
          @uploader="importFile"
        />
      </div>
      <div class="text-white text-xl p-0 pt-4 sm:p-5 sm:pr-2">
        <h2 class="text-lg">{{ $t("settings.export_bgr") }}</h2>
        <p class="text-sm">{{ $t("settings.export_bgr_desc") }}</p>
        <Button @click="exportBGR" class="mb-4">
          {{ $t("settings.export_bgr_but") }}
        </Button>
      </div>
    </div>
    <div class="text-white text-xl p-0 pt-4 sm:p-5 sm:pr-2">
      <h2 class="text-lg">{{ $t("settings.grades.weigths") }}</h2>
      <p class="text-sm">{{ $t("settings.grades.weights_desc") }}</p>
      <table class="stats-grades">
        <template v-for="(grade, i) of generalGrades">
          <tr v-if="!grade.total" :class="i % 2 === 0 ? 'even' : 'odd'">
            <td>
              <p class="text-sm mb-0">
                {{ $itt("item", "grades." + grade.name) }}
              </p>
              <p class="text-xs">
                {{ $itt("item", "grades." + grade.name + "_desc") }}
              </p>
            </td>
            <td>
              <input
                v-model="paramsGeneralMirror[grade.name]"
                @blur="saveAllParams"
              />
            </td>
          </tr>
        </template>
      </table>
      <table class="stats-grades">
        <template v-for="(grade, i) of collectionGrades">
          <tr v-if="!grade.total" :class="i % 2 === 0 ? 'even' : 'odd'">
            <td>
              <p class="text-sm mb-0">
                {{ $itt("item", "grades_collection." + grade.name) }}
              </p>
              <p class="text-xs">
                {{ $itt("item", "grades_collection." + grade.name + "_desc") }}
              </p>
            </td>
            <td>
              <input
                v-model="paramsCollectionMirror[grade.name]"
                @blur="saveAllParams"
              />
            </td>
          </tr>
        </template>
      </table>
    </div>
    <div class="text-white text-xl p-0 pt-4 sm:p-5 sm:pr-2">
      <h2 class="text-lg">{{ $t("settings.skills.weigths") }}</h2>
      <p class="text-sm">{{ $t("settings.skills.weights_desc") }}</p>
      <div class="flex flex-wrap">
        <div v-for="t of types" class="flex-grow-1">
          <h3 class="text-base">{{ $t("settings.skills." + t) }}</h3>
          <table class="stats-grades">
            <template v-for="(ent, i) of paramsSkillsMirror[t]">
              <tr :class="i % 2 === 0 ? 'even' : 'odd'">
                <td>
                  <div class="flex">
                    <img
                      v-lazy="
                        objectsPath(t) + ent.id + '.' + objectsExtension(t)
                      "
                      width="40"
                      class="mkt-object"
                    />
                    <p class="text-sm mb-0 ml-2">
                      {{ mktt(t + "_skills", ent.id) }}
                    </p>
                  </div>
                </td>
                <td>
                  <input
                    v-model="paramsSkillsMirror[t][i].grade"
                    @blur="saveAllParams"
                  />
                </td>
              </tr>
            </template>
          </table>
        </div>
      </div>
    </div>
  </NuxtLayout>
</template>
<script setup>
import { useToast } from "primevue/usetoast";
import { useI18n } from "vue-i18n";
import { generalGrades, collectionGrades } from "~~/helpers/GradesHelper";

const { t, locale, locales } = useI18n();
const toast = useToast();
const { mktt } = useMKTi18n();

const { getCollection, loadCollection, getCollectionBGR } = useCollection();

const { params, saveParams, loadParams } = useParams();

useHead({
  title: t("settings.page") + " - " + t("global.app"),
});

const paramsGeneralMirror = reactive({});
const paramsSkillsMirror = reactive({});
const paramsCollectionMirror = reactive({});
const types = ["drivers", "karts", "gliders"];

onMounted(() => {
  loadParams();
  Object.assign(paramsGeneralMirror, params.grades.general);
  Object.assign(paramsCollectionMirror, params.grades.collection);
  Object.assign(paramsSkillsMirror, params.skills);
});

const saveAllParams = () => {
  for (let grade of generalGrades) {
    if (typeof paramsGeneralMirror[grade.name] !== "number") {
      paramsGeneralMirror[grade.name] =
        Number(paramsGeneralMirror[grade.name]) || 0;
    }
  }
  for (let grade of collectionGrades) {
    if (typeof paramsCollectionMirror[grade.name] !== "number") {
      paramsCollectionMirror[grade.name] =
        Number(paramsCollectionMirror[grade.name]) || 0;
    }
  }
  for (let t of types) {
    for (let ent of paramsSkillsMirror[t]) {
      if (typeof ent.grade !== "number") {
        ent.grade = Number(ent.grade) || 0;
      }
    }
  }

  Object.assign(params.grades.general, paramsGeneralMirror);
  Object.assign(params.grades.collection, paramsCollectionMirror);
  Object.assign(params.skills, paramsSkillsMirror);

  saveParams();
};

const objectsPath = (t) => {
  if (t === "drivers") {
    return "/drivers/skills/icon/";
  } else if (t === "karts") {
    return "/karts/skills/icon/";
  } else if (t === "gliders") {
    return "/gliders/skills/icon/";
  }
};
const objectsExtension = (t) => {
  if (t === "karts") {
    return "png";
  } else {
    return "webp";
  }
};

const exportCollection = () => {
  const blob = new Blob([JSON.stringify(getCollection())], {
    type: "text/json",
  });
  const link = document.createElement("a");

  link.download =
    new Date()
      .toISOString()
      .substring(0, 19)
      .replace("T", "_")
      .replace(/\s/g, ":") + "_kamekbook_mycollection.json";
  link.href = window.URL.createObjectURL(blob);
  link.dataset.downloadurl = ["text/json", link.download, link.href].join(":");

  const evt = new MouseEvent("click", {
    view: window,
    bubbles: true,
    cancelable: true,
  });

  link.dispatchEvent(evt);
  link.remove();
};

const importFile = function (event) {
  var uploadedFile = event.files && event.files[0];

  if (uploadedFile) {
    var readFile = new FileReader();
    readFile.onload = function (e) {
      var contents = e.target.result;
      var json = JSON.parse(contents);
      if (
        json.drivers?.length > 0 ||
        json.karts?.length > 0 ||
        json.gliders?.length > 0
      ) {
        loadCollection({
          drivers: json.drivers,
          karts: json.karts,
          gliders: json.gliders,
        });
        toast.add({
          severity: "success",
          detail:
            "File loaded: " +
            json.drivers?.length +
            " drivers, " +
            json.karts?.length +
            " karts, " +
            json.gliders?.length +
            " gliders imported.",
        });
      } else {
        toast.add({
          severity: "error",
          detail: "Invalid file",
        });
      }
    };
    readFile.readAsText(uploadedFile);
  } else {
    toast.add({
      severity: "error",
      detail: "Failed to load file",
    });
  }
};

const exportBGR = async () => {
  try {
    await navigator.clipboard.writeText(getCollectionBGR());
    toast.add({
      severity: "success",
      detail: "Data copied to clipboard",
    });
  } catch (error) {
    console.log("failed to copy to clipboard. error=" + error);
    toast.add({
      severity: "error",
      detail: "An error occured while copying",
    });
  }
};
</script>
