<template>
  <NuxtLayout name="list" small-list :hide-list="currentTourName != null">
    <template #submenu>
      <ToursList :current-tour="currentTour" />
    </template>
    <NuxtChild :current-tour="currentTour" />
  </NuxtLayout>
</template>
<script setup>
const route = useRoute();
const currentTourName = computed(() => route.params?.name);

const { getTourBySlug } = useDb();

const currentTour = computed(() => {
  let d = getTourBySlug(currentTourName.value);
  if (d) {
    return {
      ...d,
    };
  }
});
</script>
