<template>
  <CourseDetails :item="currentCourse" />
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();
const { mktt } = useMKTi18n();

const props = defineProps({
  currentCourse: {
    type: Object,
    default: null,
  },
});
useHead({
  title:
    mktt("courses", props.currentCourse?.id) ||
    (props.currentCourse?.n
      ? (props.currentCourse?.c ? props.currentCourse?.c + " - " : "") +
        props.currentCourse?.n +
        (props.currentCourse?.t === "N" ? "" : " - " + props.currentCourse?.t)
      : t("courses.page")) +
      " - " +
      t("global.app"),
});
</script>
