<template>
  <div class="text-center text-white text-xl p-0 sm:p-5 pr-2">
    {{ $t("courses.select") }}
  </div>
</template>
<script setup>
import { useI18n } from "vue-i18n";
const { t, locale, locales } = useI18n();

useHead({
  title: t("courses.page") + " - " + t("global.app"),
});
</script>
